{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
{% autoescape on %}
<br/>
<div class="row" style="text-align:justify;">
   <div class="col-lg-10">
      <h2 data-l10n-id="about0">About Sopler<span class="logocolor">.</span></h2>
      <h3 data-l10n-id="about1">What is Sopler ?</h3>
      <p data-l10n-id="about2">Sopler is a free/open source, social and collaborative web application for making to-do lists. Create them, share them and collaborate with your friends to organize your everyday life.
      <p data-l10n-id="about3"><br />Sopler is based on three principles:</p>
      <ul class="list-unstyled">
         <li data-l10n-id="about4"><span class="logocolor">/.</span> <b data-l10n-id="simplicity">Simplicity - </b> Ease of use for everyday people.</li>
         <li data-l10n-id="about5"><span class="logocolor">/.</span> <b data-l10n-id="security">Security - </b data-l10n-id="add-an-item"> Private data must remain private.</li>
         <li data-l10n-id="about6"><span class="logocolor">/.</span> <b data-l10n-id="sociability">Sociability - </b> Share and collaborate with those you choose, efficiently and fast.</li>
      </ul>
      </p>
      <h3 data-l10n-id="about7">The main idea behind Sopler<span style="font-size:1.5em;" class="dot">.</span></h3>
      <p data-l10n-id="about8">We wanted the means to organize our everyday life. What we needed was to do it fast, socially and in collaboration with others. All these without any time-wasting registration and with respect to our privacy.</p>
      <h3 data-l10n-id="about9">Your privacy and anonymity<span style="font-size:1.5em;" class="dot">.</span></h3>
      <p data-l10n-id="about10">You choose how you want to use Sopler. You can use it with or without any authentication. A non-authenticated user ensures his privacy and ownership of his list. Alternatively, the authenticated user has the ownership over his items and his list. It’s up to you! </p>
      <h3 data-l10n-id="about11">Sopler is free, open source or both ?</h3>
      <p data-l10n-id="about12"> Definetly both! The creators of Sopler are governed by the principles and values​of the open source community. Check out Sopler’s source code on <a target="blank_" href="http://github.com/soplerproject"> GitHub</a> <span data-l10n-id="about13">and feel free to fork us. We are open to suggestions, bug or vulnerability reports.</span></p>
   </div>
</div>
<br>
<br>
<div class="row" style="text-align:justify;">
   <hr>
   <h2 data-l10n-id="about14">Behind the scenes<span class="logocolor">.</span></h2>
   <div class="row" style="text-align:justify;">
      <div class="col-lg-4">
         <h3 >HTML5 <img src="/static/buttons/html5.png" width="56" height="56" /> / CSS3 <img src="/static/buttons/css3.png" width="56" height="56"/></h3>
         <p data-l10n-id="about15">Sopler is built using HTML5 & CSS3 supporting the latest web standards. It makes Sopler modern, faster and mobile friendly.</p>
      </div>
      <div class="col-lg-4">
         <h3>Python <img src="/static/buttons/python.png" width="56" height="56" /> / Django <img src="/static/buttons/django.png" width="50" height="50" /></h3>
         <p data-l10n-id="about16">Sopler is built on Django, a high-level Python web framework that helps us make Sopler scalable, fast, and maintainable.</p>
      </div>
      <div class="col-lg-4">
         <h3>MySQL  &nbsp;<img src="/static/buttons/mysql.png" width="56" height="56" /></h3>
         <p data-l10n-id="about17">MySQL database server provides high performance and availability, security, scalability and flexibility to the end-users. Sopler uses MySQL to manage the lists.</p>
      </div>
   </div>
   <div class="row" style="text-align:justify;">
      <div class="col-lg-4 col-lg-offset-2">
         <h3>Apache Server  &nbsp;<img src="/static/buttons/apache.png" width="56" height="56" /></h3>
         <p data-l10n-id="about18">Sopler uses the Apache server for performance, scalability and security reasons. </p>
      </div>
      <div class="col-lg-4">
         <h3>Bootstrap 3 &nbsp;<img src="/static/buttons/bootstrap.png" width="50" height="50" /></h3>
         <p data-l10n-id="about19">Sopler's front-end design, based on Twitter's Bootstrap. </p>
      </div>
   </div>
</div>
<br>
<br>
<div class="row" style="text-align:justify;">
   <hr>
   <h2 data-l10n-id="about20">Supported technologies<span class="logocolor">.</span></h2>
   <span data-l10n-id="about21">Sopler is a cross-browser, cross-platform and cross-mobile open web application.</span>
   <br/><br>
   <div class="col-lg-3 col-lg-offset-2">
      <img src="/static/buttons/tablet_mobile.svg" width="56" height="56"s/>
      <img src="/static/buttons/pc.svg" width="56" height="56"s/>
   </div>
   <div class="col-lg-3">
      <img src="/static/buttons/mac.png" />
      <img src="/static/buttons/android.png" />
      <img src="/static/buttons/firefoxos.png" />
   </div>
   <div  class="col-lg-3">
      <img src="/static/buttons/firefox.png" />
      <img src="/static/buttons/chrome.png" />
      <img src="/static/buttons/safari.png" />
      <img src="/static/buttons/opera.png" />
   </div>
</div>
</div>
{% endautoescape %}
{% endblock %}
