{% extends "base.html" %}
{% block title %}{{list.ListName }}{% endblock %}
{% block content %}
<div style="margin-top:1.2em;" class="row">
   <div class="col-lg-12">
      <h2 data-l10n-id="team1">Core Team</h2>
   </div>
</div>
<br />
<!----------- Team Boxes ---------------->
<div class="row">
<!----------- Team Box ---------------->
   <div class="col-lg-4">
      <div class="about-box">
         <!-- Profile info -->
         <div class="popover bottom roundall">
            <div class="about-pic">
               <img style=" border-radius: 30px;-moz-border-radius: 30px;-khtml-border-radius: 30px;-webkit-border-radius: 30px;" src="/static/pics/anst.png" width="56" height="56"/>
            </div>
            <h2 class="popover-title">
               <small style="color:#757575;">Anastasios Stasinopoulos</small><br>
               <tiny>Founder / The Coder</tiny>
            </h2>
            <!-- Social Icons -->
            <div class="about-social">
               <a href="mailto:stasinopoulos@sopler.net"><em class="fa fa-envelope"></em></a>
               <a  target="_blank" href="https://twitter.com/ancst"><em class="fa fa-twitter"></em></a>
               <a  target="_blank" href="https://github.com/stasinopoulos"><em class="fa fa-github"></em></a>
            </div>
            <div class="popover-content" id="team">
               <p>He loves cats, riding his bike and drinking beer! When he's not coding for his own projects, he's looking for vulnerabilities on the code of others!</p>
            </div>
         </div>
      </div>
   </div>

<!----------- Team Box ---------------->
   <div class="col-lg-4">
      <div class="about-box">
         <!-- Profile info -->
         <div class="popover bottom roundall">
            <div class="about-pic">
               <img style=" border-radius: 30px;-moz-border-radius: 30px;-khtml-border-radius: 30px;-webkit-border-radius: 30px;" src="/static/pics/ale.jpg" width="56" height="56"/>
            </div>
            <h2 class="popover-title"><small style="color:#757575;">Alexandros <br> Karagiannakis</small><br/>
               Co-Founder / The Manager
            </h2>
            <!-- Social Icons -->
            <div class="about-social">
               <a href="mailto:karagiannakis@sopler.net"><em class="fa fa-envelope"></em></a>
               <a  target="_blank" href="https://twitter.com/ale_karag"><em class="fa fa-twitter"></em></a>
               <a  target="_blank" href="http://www.linkedin.com/in/alexandroskaragiannakis"><em class="fa fa-linkedin"></em></a>
            </div>
            <div class="popover-content" id="team">
               <p>Goalkeepers mean nothing to him once he attempts to score. He likes hillwalking and he's a manager of...everything! His new habit is doing it with lists.</p>
            </div>
         </div>
      </div>
   </div>

<!----------- Team Box ---------------->
   <div class="col-lg-4">
      <div class="about-box ">
         <!-- Profile info -->
         <div class="popover bottom roundall">
            <div class="about-pic">
               <img style="border-radius: 30px;-moz-border-radius: 30px;-khtml-border-radius: 30px;-webkit-border-radius: 30px;" src="/static/pics/kon.jpg" width="56" height="56"/>
            </div>
            <div>
               <h2 class="popover-title"><small style="color:#757575;">Kostas <br> Antonakoglou</small><br/>
                  Co-Founder / Design & L10n
               </h2>
            </div>
            <!-- Social Icons -->
            <div class="about-social">
               <a href="mailto:antonakoglou@sopler.net"><em class="fa fa-envelope"></em></a>
               <a  target="_blank" href="http://antonakoglou.com"><em class="fa fa-globe"></em></a>
               <a  target="_blank" href="https://twitter.com/constant0n"><em class="fa fa-twitter"></em></a>
               <a  target="_blank" href="https://github.com/constanton"><em class="fa fa-github"></em></a>
            </div>
            <div class="popover-content" id="team">
               <p>Stages, crowds, shoegazing... words of his everyday life. When he returns to the world of the mortals he's interested in web technologies, UI/UX design and embedded systems.</p>
            </div>
         </div>
      </div>
   </div>
</div>
<br>
<hr>
<!----------- Contributors Boxes ---------------->
<div class="row">
   <h2>
      <div data-l10n-id="team2" class="col-md-12">Contributors</div>
   </h2>
</div>
<br />
<div class="row">
   <div class="col-lg-4">
      <div class="about-box">
         <!-- Profile info -->
         <div class="popover bottom roundall">
            <div class="about-pic">
               <img style=" border-radius: 30px;-moz-border-radius: 30px;-khtml-border-radius: 30px;-webkit-border-radius: 30px;" src="/static/pics/pan.jpg" width="56" height="56"/>
            </div>
            <h2 class="popover-title list_box"><small style="color:#757575;">Panagiotis <br> Alexiou</small><br/>
               Logo Designer &nbsp;
               <a href="mailto:panagiwtis.alexiou@gmail.com"><em class="fa fa-envelope"></em></a>
               <a target="_blank"  href="http://panagiwtisalexiou.wix.com/alexiouportfolio#!home/mainPage"><em class="fa fa-globe"></em></a>
            </h2>
         </div>
      </div>
   </div>
   
    <div class="col-lg-4">
      <div class="about-box">
         <!-- Profile info -->
         <div class="popover bottom roundall">
            <div class="about-pic">
               <img style=" border-radius: 30px;-moz-border-radius: 30px;-khtml-border-radius: 30px;-webkit-border-radius: 30px;" src="/static/pics/thal.jpg" width="56" height="56"/>
            </div>
            <h2 class="popover-title list_box"><small style="color:#757575;">Thalia <br> Papoutsaki</small><br/>
               Translator (el) &nbsp;
               <a  target="_blank" href="https://twitter.com/saliyath"><em class="fa fa-twitter"></em></a>
            </h2>
         </div>
      </div>
   </div>
</div>
<br>
<hr>
<!----------- Supporters Boxes ---------------->
<div class="row">
   <h2>
      <div data-l10n-id="team3" class="col-md-12">Supporters</div>
   </h2>
</div>
</div>
</div>        
{% endblock %}
