{% extends "base.html" %}
{% block title %}{{list.ListName }}{% endblock %}
{% block content %}
<div style="margin-top:1.2em;" class="row">
   <div class="col-lg-12">
      <h2 data-l10n-id="team1">Core team</h2>
   </div>
</div>
<br />
<!----------- Team Boxes ---------------->
<div class="row">
<!----------- Team Box ---------------->
   <div class="col-lg-4">
      <div class="about-box">
         <!-- Profile info -->
         <div class="popover bottom roundall">
            <div class="about-pic">
               <img class="img-circle" src="/static/pics/anst.png" width="56" height="56"/>
            </div>
            <h2 class="popover-title">
               <small style="color:#757575;">Anastasios Stasinopoulos</small><br>
               <tiny>Founder / Lead Developer</tiny>
            </h2>
            <!-- Social Icons -->
            <div class="about-social">
               <a  target="_blank" href="https://twitter.com/ancst"><em class="fa fa-twitter"></em></a>
               <a  target="_blank" href="https://github.com/stasinopoulos"><em class="fa fa-github"></em></a>
            </div>
            <div class="popover-content" id="team">
               <p>He loves cats, riding his bike and drinking beer! When he's not coding for his own projects, he's looking for vulnerabilities on the code of others!</p>
            </div>
         </div>
      </div>
   </div>

<!----------- Team Box ---------------->
   <div class="col-lg-4">
      <div class="about-box">
         <!-- Profile info -->
         <div class="popover bottom roundall">
            <div class="about-pic">
               <img class="img-circle" src="/static/pics/ale.jpg" width="56" height="56"/>
            </div>
            <h2 class="popover-title"><small style="color:#757575;">Alexandros <br> Karagiannakis</small><br/>
               Co-Founder / The Manager
            </h2>
            <!-- Social Icons -->
            <div class="about-social">
               <a  target="_blank" href="https://twitter.com/ale_karag"><em class="fa fa-twitter"></em></a>
               <a  target="_blank" href="http://www.linkedin.com/in/alexandroskaragiannakis"><em class="fa fa-linkedin"></em></a>
            </div>
            <div class="popover-content" id="team">
               <p>Goalkeepers mean nothing to him once he attempts to score. He likes hillwalking and he's a manager of...everything! His new habit is doing it with lists.</p>
            </div>
         </div>
      </div>
   </div>

<!----------- Team Box ---------------->
   <div class="col-lg-4">
      <div class="about-box ">
         <!-- Profile info -->
         <div class="popover bottom roundall">
            <div class="about-pic">
               <img class="img-circle" src="/static/pics/kon.jpg" width="56" height="56"/>
            </div>
            <div>
               <h2 class="popover-title"><small style="color:#757575;">Kostas <br> Antonakoglou</small><br/>
                  Co-Founder / Design & L10n
               </h2>
            </div>
            <!-- Social Icons -->
            <div class="about-social">
               <a  target="_blank" href="http://antonakoglou.com"><em class="fa fa-globe"></em></a>
               <a  target="_blank" href="https://twitter.com/constant0n"><em class="fa fa-twitter"></em></a>
               <a  target="_blank" href="http://gr.linkedin.com/pub/kostas-antonakoglou/84/ba8/3bb"><em class="fa fa-linkedin"></em></a>
               <a  target="_blank" href="https://github.com/constanton"><em class="fa fa-github"></em></a>
            </div>
            <div class="popover-content" id="team">
               <p>Stages, crowds, shoegazing... words of his everyday life. When he returns to the world of the mortals he's interested in web technologies, UI/UX design and embedded systems.</p>
            </div>
         </div>
      </div>
   </div>
</div>
<br>
<hr>
<!----------- Contributors Boxes ---------------->
<div class="row">
   <h2>
      <div data-l10n-id="team2" class="col-md-12">Contributors</div>
   </h2>
</div>
<br />
<div class="row">
   <div class="col-lg-4">
      <div class="about-box">
         <!-- Profile info -->
         <div class="popover bottom roundall">
            <div class="about-pic">
               <img class="img-circle" src="/static/pics/pan.jpg" width="56" height="56"/>
            </div>
            <h2 class="popover-title list_box"><small style="color:#757575;">Panagiotis Alexiou</small><br/>
               Logo Designer<br/>
               <a href="mailto:panagiwtis.alexiou@gmail.com"><em class="fa fa-envelope"></em></a>
               <a target="_blank"  href="http://panagiwtisalexiou.wix.com/alexiouportfolio#!home/mainPage"><em class="fa fa-globe"></em></a>
            </h2>
         </div>
      </div>
   </div>
    <div class="col-lg-4">
      <div class="about-box">
         <!-- Profile info -->
         <div class="popover bottom roundall">
            <div class="about-pic">
               <img class="img-circle" src="/static/pics/christie.png" width="56" height="56"/>
            </div>
            <h2 class="popover-title list_box"><small style="color:#757575;">Christie Koehler</small>
               Transifex Maintainer<br/>
               <a target="_blank"  href="https://twitter.com/christi3k"><em class="fa fa-twitter"></em></a>
            </h2>
         </div>
      </div>
   </div>
</div>
<div class="row">
      <div class="col-lg-4">
      <div class="about-box">
         <!-- Profile info -->
         <div class="popover bottom roundall">
            <div class="about-pic">
               <img class="img-circle" src="/static/pics/bratsos.jpg" width="56" height="56"/>
            </div>
            <h2 class="popover-title list_box"><small style="color:#757575;">George Bratsos</small><br/>
                BlackBerry App Developer &nbsp;
               <a  target="_blank" href="http://bmb-studios.eu/"><em class="fa fa-globe"></em></a>
               <a  target="_blank" href="https://twitter.com/bratsaki"><em class="fa fa-twitter"></em></a>
               <a  target="_blank" href="http://gr.linkedin.com/pub/george-bratsos/36/964/431"><em class="fa fa-linkedin"></em></a>
            </h2>
         </div>
      </div>
   </div>
   
         <div class="col-lg-4">
      <div class="about-box">
         <!-- Profile info -->
         <div class="popover bottom roundall">
            <div class="about-pic">
               <img class="img-circle" src="/static/pics/trif.jpg" width="56" height="56"/>
            </div>
            <h2 class="popover-title list_box"><small style="color:#757575;">Tryfon Tzanetis </small><br/>
                Android App Developer &nbsp;<br/>
               <a  target="_blank" href="https://twitter.com/trifwnas"><em class="fa fa-twitter"></em></a>
               <a  target="_blank" href="http://gr.linkedin.com/in/triftz "><em class="fa fa-linkedin"></em></a>
               <a  target="_blank" href="https://facebook.com/techtz"><em class="fa fa-facebook-square "></em></a>
            </h2>
         </div>
      </div>
   </div>
</div>


<!----------- Team Boxes ---------------->
<div class="row">
		<!----------- Translators Box RO---------------->

	<div class="col-lg-4">
      <div class="about-box ">
         <!-- Profile info -->
         <div class="popover bottom roundall">
            <div class="about-pic">
            </div>
            <div>
               <center><h2 class="popover-title"><small style="color:#757575;">RO translation team</small></h2></center>
            </div>
            <!-- Social Icons -->
            <div class="popover-content" id="team">
			<div class="about-pic">
               <img class="img-circle" src="/static/pics/silaghi.jpg" width="56" height="56"/>
            </div>
            <h2 class="popover-title list_box nobackground"><small style="color:#757575;">Cristian <br> Silaghi</small><br/>
               <a  target="_blank" href="http://www.facebook.com/stelistcristi"><em class="fa fa-facebook-square "></em></a>
            </h2>
           </div>
             </div> 
            </div>
         </div>

		<!----------- Translators Box PL---------------->
      <div class="col-lg-4">
		  <div class="about-box ">
			 <!-- Profile info -->
			 <div class="popover bottom roundall">
				<div class="about-pic">
				</div>
				<div>
				   <center><h2 class="popover-title"><small style="color:#757575;">PL translation team</small></h2></center>
				</div>
				<!-- Social Icons -->
				<div class="popover-content" id="team">
				<div class="about-pic">
				   <img class="img-circle" src="/static/buttons/User-Role-Guest-icon.png" width="50" height="50"/>
				</div>
				<h2 class="popover-title list_box nobackground"><small style="color:#757575;">Paweł <br> Klimek</small><br/>
				 <a  target="_blank" href="https://www.facebook.com/pawel.klimek20"><em class="fa fa-facebook-square "></em></a>
				</h2>
			   </div>
				 </div> 
				</div>
			 </div>
</div>
<div class="row">
<!----------- Translators Box EL---------------->
   <div class="col-lg-4">
      <div class="about-box ">
         <!-- Profile info -->
         <div class="popover bottom roundall">
            <div class="about-pic">
            </div>
            <div>
               <center><h2 class="popover-title"><small style="color:#757575;">EL translation team</small></h2></center>
            </div>
            <!-- Social Icons -->
            <div class="popover-content" id="team">
			    <div class="about-pic">
               <img class="img-circle" src="/static/pics/thal.jpg" width="56" height="56"/>
            </div>
            <h2 class="popover-title list_box nobackground"><small style="color:#757575;">Thalia <br> Papoutsaki</small><br/>
               <a  target="_blank" href="https://twitter.com/saliyath"><em class="fa fa-twitter"></em></a>
            </h2>
           </div>
             </div> 
            </div>
         </div>        
<!----------- Translators Box RU & UA---------------->
   <div class="col-lg-4">
      <div class="about-box ">
         <!-- Profile info -->
         <div class="popover bottom roundall">
            <div class="about-pic">
            </div>
            <div>
               <center><h2 class="popover-title"><small style="color:#757575;">RU & UA translation team</small></h2></center>
            </div>
            <!-- Social Icons -->
            <div class="popover-content" id="team">
			    <div class="about-pic">
               <img class="img-circle" src="/static/pics/dmytro.jpg" width="56" height="56"/>
            </div>
            <h2 class="popover-title list_box nobackground"><small style="color:#757575;"> Dmytro<br> Lytovchenko</small><br/>
             <a  target="_blank" href="http://se.linkedin.com/in/kvakvs/"><em class="fa fa-linkedin"></em></a>
             <a  target="_blank" href="https://github.com/kvakvs"><em class="fa fa-github"></em></a>
            </h2>
           </div>
             </div> 
            </div>
         </div>

<!----------- Translators Box HU---------------->
   <div class="col-lg-4">
      <div class="about-box ">
         <!-- Profile info -->
         <div class="popover bottom roundall">
            <div class="about-pic">
            </div>
            <div>
               <center><h2 class="popover-title"><small style="color:#757575;">HU translation team</small></h2></center>
            </div>
            <!-- Social Icons -->
            <div class="popover-content" id="team">
			<div class="about-pic">
               <img class="img-circle" src="/static/pics/kemencze.jpg" width="56" height="56"/>
            </div>
            <h2 class="popover-title list_box nobackground"><small style="color:#757575;">Péter <br> Kemenczés</small><br/> 
             <a  target="_blank" href="http://www.linkedin.com/pub/péter-kemenczés/77/482/733"><em class="fa fa-linkedin"></em></a>
            </h2>
           </div>
             </div> 
            </div>
         </div>
</div>
<!----------- Team Boxes ---------------->

<div class="row">
<!----------- Translators Box FR---------------->
   <div class="col-lg-4">
      <div class="about-box ">
         <!-- Profile info -->
         <div class="popover bottom roundall">
            <div class="about-pic">
            </div>
            <div>
               <center><h2 class="popover-title"><small style="color:#757575;">FR translation team</small></h2></center>
            </div>
            <!-- Social Icons -->
            <div class="popover-content" id="team">
			 <div class="about-pic">
               <img class="img-circle" src="/static/pics/davidb.png" width="56" height="56"/>
            </div>
            <h2 class="popover-title list_box nobackground"><small style="color:#757575;">David <br>Bourguignon</small><br/>
               <a  target="_blank" href="https://twitter.com/davidbourgui"><em class="fa fa-twitter"></em></a>
            </h2>
			<div class="about-pic">
               <img class="img-circle" src="/static/pics/aggelo.jpg" width="56" height="56"/>
            </div>
            <h2 class="popover-title list_box nobackground"><small style="color:#757575;">John <br> Aggelogiannakis</small><br/> 
             <a  target="_blank" href="http://gr.linkedin.com/pub/ioannis-angelogiannakis/56/5b/608"><em class="fa fa-linkedin"></em></a>
            </h2>
           </div>
             </div> 
            </div>
         </div>
         <!----------- Translators Box ES---------------->
   <div class="col-lg-4">
      <div class="about-box ">
         <!-- Profile info -->
         <div class="popover bottom roundall">
            <div class="about-pic">
            </div>
            <div>
               <center><h2 class="popover-title"><small style="color:#757575;">ES translation team</small></h2></center>
            </div>
            <!-- Social Icons -->
            <div class="popover-content" id="team">
				<!-- Social Icons -->
				   <div class="about-pic">
               <img class="img-circle" src="/static/pics/yunier.jpeg" width="56" height="56"/>
            </div>
            <h2 class="popover-title list_box nobackground"><small style="color:#757575;">Yunier <br>Sosa Vazquez</small><br/>
               <a  target="_blank" href="https://twitter.com/yuniers"><em class="fa fa-twitter"></em></a>
            </h2>
               <div class="about-pic">
               <img class="img-circle" src="/static/pics/alexsalas.jpg" width="56" height="56"/>
            </div>
            <h2 class="popover-title list_box nobackground"><small style="color:#757575;">Alexander <br> Salas</small><br/>
               <a  target="_blank" href="http://www.linkedin.com/in/alexandersalas"><em class="fa fa-linkedin"></em></a>
               <a  target="_blank" href="http://facebook.com/alexandersalas"><em class="fa fa-facebook-square "></em></a>
               <a  target="_blank" href="https://github.com/alexsalas"><em class="fa fa-github"></em></a>
            </h2>
			   </div>
				 </div> 
				</div>
			 </div>

         
 <!----------- Translators Box BD---------------->
   <div class="col-lg-4">
      <div class="about-box ">
         <!-- Profile info -->
         <div class="popover bottom roundall">
            <div class="about-pic">
            </div>
            <div>
               <center><h2 class="popover-title"><small style="color:#757575;">BD translation team</small></h2></center>
            </div>
            <!-- Social Icons -->
            <div class="popover-content" id="team">
			 <div class="about-pic">
               <img class="img-circle" src="/static/pics/aihimel.jpg" width="56" height="56"/>
            </div>
            <h2 class="popover-title list_box nobackground"><small style="color:#757575;">Aftabul Islam<br>Himel</small><br/>
             <a  target="_blank" href="http://bd.linkedin.com/pub/aftabul-islam/80/aa/41/"><em class="fa fa-linkedin"></em></a>
            </h2>
			<div class="about-pic">
               <img class="img-circle" src="/static/pics/toshazed.jpg" width="56" height="56"/>
            </div>
            <h2 class="popover-title list_box nobackground"><small style="color:#757575;">Shazedur Rahim<br> Joardar</small><br/> 
             <a  target="_blank" href="https://twitter.com/toshazed"><em class="fa fa-twitter"></em></a>
            </h2>
           </div>
             </div> 
            </div>
         </div>
         
</div>
<!----------- Team Boxes ---------------->

<div class="row">

	<!----------- Translators Box BR---------------->
   <div class="col-lg-4">
      <div class="about-box ">
         <!-- Profile info -->
         <div class="popover bottom roundall">
            <div class="about-pic">
            </div>
            <div>
               <center><h2 class="popover-title"><small style="color:#757575;">BR translation team</small></h2></center>
            </div>
            <!-- Social Icons -->
            <div class="popover-content" id="team">
			    <div class="about-pic">
               <img class="img-circle" src="/static/pics/lucas.jpg" width="56" height="56"/>
            </div>
            <h2 class="popover-title list_box nobackground"><small style="color:#757575;">Lucas <br> Fontes Gaspareto</small><br/>
             <a target="_blank" href="http://br.linkedin.com/in/lucasfontesgaspareto"><em class="fa fa-linkedin"></em></a> 
            </h2>
             <div class="about-pic">
               <img class="img-circle" src="/static/pics/saad.jpeg" width="56" height="56"/>
            </div>
            <h2 class="popover-title list_box nobackground"><small style="color:#757575;">Marcus <br> Saad</small><br/>
               <a  target="_blank" href="http://marcussaad.com/"><em class="fa fa-globe"></em></a>
               <a  target="_blank" href="https://github.com/marcussaad"><em class="fa fa-github"></em></a>
            </h2>
            <div class="about-pic">
               <img class="img-circle" src="/static/pics/thiago.png" width="56" height="56"/>
            </div>
            <h2 class="popover-title list_box nobackground"><small style="color:#757575;"> Thiago<br> Antonio Vieira</small><br/>
             <a target="_blank" href="http://br.linkedin.com/pub/thiago-vieira/22/744/36a/"><em class="fa fa-linkedin"></em></a> 
            </h2>
             <div class="about-pic">
               <img class="img-circle" src="/static/pics/lino.jpg" width="56" height="56"/>
            </div>
            <h2 class="popover-title list_box nobackground"><small style="color:#757575;">Rogério <br>Lino</small><br/>
               <a  target="_blank" href="https://github.com/rogeriolino"><em class="fa fa-github"></em></a>
            </h2>
           </div>
             </div> 
            </div>
         </div>
         
<!----------- Translators Box DE---------------->
   <div class="col-lg-4">
      <div class="about-box ">
         <!-- Profile info -->
         <div class="popover bottom roundall">
            <div class="about-pic">
            </div>
            <div>
               <center><h2 class="popover-title"><small style="color:#757575;">DE translation team</small></h2></center>
            </div>
            <!-- Social Icons -->
            <div class="popover-content" id="team">
		                <div class="about-pic">
               <img class="img-circle" src="/static/pics/siegmann.jpg" width="56" height="56"/>
            </div>
            <h2 class="popover-title list_box nobackground"><small style="color:#757575;">Mario <br/>Siegmann </small><br/> 
            <a  target="_blank" href="https://github.com/Siggi0904"><em class="fa fa-github"></em></a>
            </h2>
			<div class="about-pic">
               <img class="img-circle" src="/static/pics/michele.jpg" width="56" height="56"/>
            </div>
            <h2 class="popover-title list_box nobackground"><small style="color:#757575;">Michèle <br/>Moser </small><br/> 
             <a  target="_blank" href="https://twitter.com/frl_sm1lla"><em class="fa fa-twitter"></em></a>
            </h2>
            <div class="about-pic">
               <img class="img-circle" src="/static/pics/sebastian.jpg" width="56" height="56"/>
            </div>
            <h2 class="popover-title list_box nobackground"><small style="color:#757575;">Sebastian <br/>Zartner </small><br/> 
              <a  target="_blank" href="https://github.com/SebastianZ"><em class="fa fa-github"></em></a>
            </h2>
           </div>
             </div> 
            </div>
         </div>
			 
	<!----------- Translators Box IT---------------->
   <div class="col-lg-4">
      <div class="about-box ">
         <!-- Profile info -->
         <div class="popover bottom roundall">
            <div class="about-pic">
            </div>
            <div>
               <center><h2 class="popover-title"><small style="color:#757575;">IT translation team</small></h2></center>
            </div>
            <!-- Social Icons -->
            <div class="popover-content" id="team">
			<div class="about-pic">
               <img class="img-circle" src="/static/pics/francesco.jpg" width="56" height="56"/>
            </div>
            <h2 class="popover-title list_box nobackground"><small style="color:#757575;">Francesco <br> Tili</small><br/>
               <a  target="_blank" href="http://facebook.com/francesco.tili"><em class="fa fa-facebook-square "></em></a>
            </h2>
			<div class="about-pic">
               <img class="img-circle" src="/static/pics/costanino.jpg" width="56" height="56"/>
            </div>
            <h2 class="popover-title list_box nobackground"><small style="color:#757575;">Roberto <br> Costanino</small><br/>
               <a  target="_blank" href="https://twitter.com/insideRobb"><em class="fa fa-twitter"></em></a>
            </h2>

           </div>
             </div> 
            </div>
         </div>
	</div>

<br/>

<hr>
<!----------- Supporters Boxes ---------------->
<div class="row">
   <h2>
      <div data-l10n-id="team3" class="col-md-12">Supporters</div>
   </h2>
</div>
<br />
<div class="row">
   <div class="col-lg-4">
      <div class="about-box">
         <!-- Profile info -->
         <div class="popover bottom roundall">
            <center>
               <img src="/static/buttons/hubraum.jpg" width="184" height="72"/>
            </center>
         </div>
      </div>
   </div>
</div>

</div>         
{% endblock %}
