{% extends "base.html" %}
{% block title %}{{list.ListName }}{% endblock %}
{% block content %}
<div style="margin-top:1.2em;" class="row">
   <div class="col-lg-1">
      <h2 data-l10n-id="credits">Credits</h2>
   </div>
</div>
<br />
<!----------- Credit 1 ---------------->
<div class="row">
	    <div class="row">
            <h4>
	    <div class="col-lg-3">
               <span style="color:#757575;">Anastasios Stasinopoulos</span>
	    </div>
	    <div class="col-lg-3">
               Lead Developer / Founder
	    </div>
	    <div class="col-lg-3">
		    <span class="about-social">
		       <a  target="_blank" href="https://twitter.com/ancst"><em class="fa fa-twitter"></em></a>
		       <a  target="_blank" href="https://github.com/stasinopoulos"><em class="fa fa-github"></em></a>
		    </span>
	    </div>
            </h4>
	    </div>

<!----------- Credit 2 ---------------->
	    <div class="row">
            <h4>
	    <div class="col-lg-3">
               <span style="color:#757575;">Kostas Antonakoglou</span>
	    </div>
	    <div class="col-lg-3">
                  UI, UX & L10n / Co-Founder
	    </div>
	    <div class="col-lg-3">
		    <span class="about-social">
		       <a  target="_blank" href="https://twitter.com/constant0n"><em class="fa fa-twitter"></em></a>
		       <a  target="_blank" href="https://github.com/constanton"><em class="fa fa-github"></em></a>
               <a  target="_blank" href="https://gr.linkedin.com/pub/kostasantonakoglou"><em class="fa fa-linkedin"></em></a>
		    </span>
	    </div>
            </h4>
	    </div>
<!----------- Credit 3 ---------------->
	    <div class="row">
            <h4>
	    <div class="col-lg-3">
               <span style="color:#757575;">Alexandros Karagiannakis</span>
	    </div>
	    <div class="col-lg-3">
               Management / Co-Founder
	    </div>
	    <div class="col-lg-3">
		    <span class="about-social">
		       <a  target="_blank" href="https://twitter.com/ale_karag"><em class="fa fa-twitter"></em></a>
		       <a  target="_blank" href="https://www.linkedin.com/in/alexandroskaragiannakis"><em class="fa fa-linkedin"></em></a>
		    </span>
	    </div>
            </h4>
	    </div>

<!----------- Credit 4 ---------------->
	    <div class="row">
            <h4>
	    <div class="col-lg-3">
               <span style="color:#757575;">Panagiotis Alexiou</span>
	    </div>
	    <div class="col-lg-3">
               Logo Designer
	    </div>
	    <div class="col-lg-3">
		    <span class="about-social">
               <a href="mailto:panagiwtis.alexiou@gmail.com"><em class="fa fa-envelope"></em></a>
               <a target="_blank"  href="http://panagiwtisalexiou.wix.com/alexiouportfolio#!home/mainPage"><em class="fa fa-globe"></em></a>
		    </span>
	    </div>
            </h4>
	    </div>


<!----------- Credit 5 ---------------->
	    <div class="row">
            <h4>
	    <div class="col-lg-3">
               <span style="color:#757575;">Christie Koehler</span>
	    </div>
	    <div class="col-lg-3">
               Transifex Maintainer
	    </div>
	    <div class="col-lg-3">
		    <span class="about-social">
               <a target="_blank"  href="https://twitter.com/christi3k"><em class="fa fa-twitter"></em></a>
		    </span>
	    </div>
            </h4>
	    </div>

<!----------- Credit 6 ---------------->
	    <div class="row">
            <h4>
	    <div class="col-lg-3">
               <span style="color:#757575;">George Bratsos</span>
	    </div>
	    <div class="col-lg-3">
               BlackBerry App Developer
	    </div>
	    <div class="col-lg-3">
		    <span class="about-social">
               <a  target="_blank" href="http://bmb-studios.eu/"><em class="fa fa-globe"></em></a>
               <a  target="_blank" href="https://twitter.com/bratsaki"><em class="fa fa-twitter"></em></a>
               <a  target="_blank" href="http://gr.linkedin.com/pub/george-bratsos/36/964/431"><em class="fa fa-linkedin"></em></a>
		    </span>
	    </div>
            </h4>
	    </div>

<!----------- Credit 7 ---------------->
	    <div class="row">
            <h4>
	    <div class="col-lg-3">
               <span style="color:#757575;">Tryfon Tzanetis</span>
	    </div>
	    <div class="col-lg-3">
               Android App Developer
	    </div>
	    <div class="col-lg-3">
		    <span class="about-social">
               <a  target="_blank" href="https://twitter.com/trifwnas"><em class="fa fa-twitter"></em></a>
               <a  target="_blank" href="http://gr.linkedin.com/in/triftz "><em class="fa fa-linkedin"></em></a>
               <a  target="_blank" href="https://facebook.com/techtz"><em class="fa fa-facebook-square "></em></a>
		    </span>
	    </div>
            </h4>
	    </div>

<!----------- Credit 8 ---------------->
	    <div class="row">
            <h4>
	    <div class="col-lg-3">
               <span style="color:#757575;">Cristian Silaghi</span>
	    </div>
	    <div class="col-lg-3">
               RO translator
	    </div>
	    <div class="col-lg-3">
		    <span class="about-social">
               <a  target="_blank" href="http://www.facebook.com/stelistcristi"><em class="fa fa-facebook-square "></em></a>
		    </span>
	    </div>
            </h4>
	    </div>

<!----------- Credit 9 ---------------->
	    <div class="row">
            <h4>
	    <div class="col-lg-3">
               <span style="color:#757575;">Paweł Klimek</span>
	    </div>
	    <div class="col-lg-3">
               PL translator
	    </div>
	    <div class="col-lg-3">
		    <span class="about-social">
			<a  target="_blank" href="https://www.facebook.com/pawel.klimek20"><em class="fa fa-facebook-square "></em></a>
		    </span>
	    </div>
            </h4>
	    </div>

<!----------- Credit 10 ---------------->
	    <div class="row">
            <h4>
	    <div class="col-lg-3">
               <span style="color:#757575;">Thalia Papoutsaki</span>
	    </div>
	    <div class="col-lg-3">
		EL translator
	    </div>
	    <div class="col-lg-3">
		    <span class="about-social">
               <a  target="_blank" href="https://twitter.com/saliyath"><em class="fa fa-twitter"></em></a>
		    </span>
	    </div>
            </h4>
	    </div>

<!----------- Credit 11 ---------------->
	    <div class="row">
            <h4>
	    <div class="col-lg-3">
               <span style="color:#757575;">Dmytro Lytovchenko</span>
	    </div>
	    <div class="col-lg-3">
		RU & UA translator
	    </div>
	    <div class="col-lg-3">
		    <span class="about-social">
             <a  target="_blank" href="http://se.linkedin.com/in/kvakvs/"><em class="fa fa-linkedin"></em></a>
             <a  target="_blank" href="https://github.com/kvakvs"><em class="fa fa-github"></em></a>
		    </span>
	    </div>
            </h4>
	    </div>

<!----------- Credit 12 ---------------->
	    <div class="row">
            <h4>
	    <div class="col-lg-3">
               <span style="color:#757575;">Péter Kemenczés</span>
	    </div>
	    <div class="col-lg-3">
		HU translator
	    </div>
	    <div class="col-lg-3">
		    <span class="about-social">
             <a  target="_blank" href="http://www.linkedin.com/pub/péter-kemenczés/77/482/733"><em class="fa fa-linkedin"></em></a>
		    </span>
	    </div>
            </h4>
	    </div>

<!----------- Credit 13 ---------------->
	    <div class="row">
            <h4>
	    <div class="col-lg-3">
               <span style="color:#757575;">David Bourguignon</span>
	    </div>
	    <div class="col-lg-3">
		FR translator
	    </div>
	    <div class="col-lg-3">
		    <span class="about-social">
               <a  target="_blank" href="https://twitter.com/davidbourgui"><em class="fa fa-twitter"></em></a>
		    </span>
	    </div>
            </h4>
	    </div>
<!----------- Credit 14 ---------------->
	    <div class="row">
            <h4>
	    <div class="col-lg-3">
               <span style="color:#757575;">John Aggelogiannakis</span>
	    </div>
	    <div class="col-lg-3">
		FR translator
	    </div>
	    <div class="col-lg-3">
		    <span class="about-social">
             <a  target="_blank" href="http://gr.linkedin.com/pub/ioannis-angelogiannakis/56/5b/608"><em class="fa fa-linkedin"></em></a>
		    </span>
	    </div>
            </h4>
	    </div>

<!----------- Credit 15 ---------------->
	    <div class="row">
            <h4>
	    <div class="col-lg-3">
               <span style="color:#757575;">Yunier Sosa Vazquez</span>
	    </div>
	    <div class="col-lg-3">
		ES translator
	    </div>
	    <div class="col-lg-3">
		    <span class="about-social">
               <a  target="_blank" href="https://twitter.com/yuniers"><em class="fa fa-twitter"></em></a>
		    </span>
	    </div>
            </h4>
	    </div>
<!----------- Credit 16 ---------------->
	    <div class="row">
            <h4>
	    <div class="col-lg-3">
               <span style="color:#757575;">Alexander Salas</span>
	    </div>
	    <div class="col-lg-3">
		ES translator
	    </div>
	    <div class="col-lg-3">
		    <span class="about-social">
               <a  target="_blank" href="https://twitter.com/yuniers"><em class="fa fa-twitter"></em></a>
		    </span>
	    </div>
            </h4>
	    </div>

<!----------- Credit 17 ---------------->
	    <div class="row">
            <h4>
	    <div class="col-lg-3">
               <span style="color:#757575;">Aftabul Islam Himel</span>
	    </div>
	    <div class="col-lg-3">
		BD translator
	    </div>
	    <div class="col-lg-3">
		    <span class="about-social">
             <a  target="_blank" href="http://bd.linkedin.com/pub/aftabul-islam/80/aa/41/"><em class="fa fa-linkedin"></em></a>
		    </span>
	    </div>
            </h4>
	    </div>

<!----------- Credit 18 ---------------->
	    <div class="row">
            <h4>
	    <div class="col-lg-3">
               <span style="color:#757575;">Shazedur Rahim Joardar</span>
	    </div>
	    <div class="col-lg-3">
		BD translator
	    </div>
	    <div class="col-lg-3">
		    <span class="about-social">
             <a  target="_blank" href="https://twitter.com/toshazed"><em class="fa fa-twitter"></em></a>
		    </span>
	    </div>
            </h4>
	    </div>

<!----------- Credit 19 ---------------->
	    <div class="row">
            <h4>
	    <div class="col-lg-3">
               <span style="color:#757575;">Lucas Fontes Gaspareto</span>
	    </div>
	    <div class="col-lg-3">
		BR translator
	    </div>
	    <div class="col-lg-3">
		    <span class="about-social">
             <a  target="_blank" href="https://twitter.com/toshazed"><em class="fa fa-twitter"></em></a>
		    </span>
	    </div>
            </h4>
	    </div>

<!----------- Credit 20 ---------------->
	    <div class="row">
            <h4>
	    <div class="col-lg-3">
               <span style="color:#757575;">Marcus Saad</span>
	    </div>
	    <div class="col-lg-3">
		BR translator
	    </div>
	    <div class="col-lg-3">
		    <span class="about-social">
               <a  target="_blank" href="http://marcussaad.com/"><em class="fa fa-globe"></em></a>
               <a  target="_blank" href="https://github.com/marcussaad"><em class="fa fa-github"></em></a>
		    </span>
	    </div>
            </h4>
	    </div>
<!----------- Credit 21 ---------------->
	    <div class="row">
            <h4>
	    <div class="col-lg-3">
               <span style="color:#757575;">Thiago Antonio Vieira</span>
	    </div>
	    <div class="col-lg-3">
		BR translator
	    </div>
	    <div class="col-lg-3">
		    <span class="about-social">
             <a target="_blank" href="http://br.linkedin.com/pub/thiago-vieira/22/744/36a/"><em class="fa fa-linkedin"></em></a>
		    </span>
	    </div>
            </h4>
	    </div>
<!----------- Credit 22 ---------------->
	    <div class="row">
            <h4>
	    <div class="col-lg-3">
               <span style="color:#757575;">Rogério Lino</span>
	    </div>
	    <div class="col-lg-3">
		BR translator
	    </div>
	    <div class="col-lg-3">
		    <span class="about-social">
               <a  target="_blank" href="https://github.com/rogeriolino"><em class="fa fa-github"></em></a>
		    </span>
	    </div>
            </h4>
	    </div>

<!----------- Credit 23 ---------------->
	    <div class="row">
            <h4>
	    <div class="col-lg-3">
               <span style="color:#757575;">Mario Siegmann</span>
	    </div>
	    <div class="col-lg-3">
		DE translator
	    </div>
	    <div class="col-lg-3">
		    <span class="about-social">
            <a  target="_blank" href="https://github.com/Siggi0904"><em class="fa fa-github"></em></a>
		    </span>
	    </div>
            </h4>
	    </div>
<!----------- Credit 23 ---------------->
	    <div class="row">
            <h4>
	    <div class="col-lg-3">
               <span style="color:#757575;">Michèle Moser</span>
	    </div>
	    <div class="col-lg-3">
		DE translator
	    </div>
	    <div class="col-lg-3">
		    <span class="about-social">
             <a  target="_blank" href="https://twitter.com/frl_sm1lla"><em class="fa fa-twitter"></em></a>
		    </span>
	    </div>
            </h4>
	    </div>
<!----------- Credit 24 ---------------->
	    <div class="row">
            <h4>
	    <div class="col-lg-3">
               <span style="color:#757575;">Sebastian Zartner</span>
	    </div>
	    <div class="col-lg-3">
		DE translator
	    </div>
	    <div class="col-lg-3">
		    <span class="about-social">
              <a  target="_blank" href="https://github.com/SebastianZ"><em class="fa fa-github"></em></a>
		    </span>
	    </div>
            </h4>
	    </div>

<!----------- Credit 25 ---------------->
	    <div class="row">
            <h4>
	    <div class="col-lg-3">
               <span style="color:#757575;">Francesco Tili</span>
	    </div>
	    <div class="col-lg-3">
		IT translator
	    </div>
	    <div class="col-lg-3">
		    <span class="about-social">
               <a  target="_blank" href="http://facebook.com/francesco.tili"><em class="fa fa-facebook-square "></em></a>
		    </span>
	    </div>
            </h4>
	    </div>
<!----------- Credit 25 ---------------->
	    <div class="row">
            <h4>
	    <div class="col-lg-3">
               <span style="color:#757575;">Roberto Costanino</span>
	    </div>
	    <div class="col-lg-3">
		IT translator
	    </div>
	    <div class="col-lg-3">
		    <span class="about-social">
               <a  target="_blank" href="https://twitter.com/insideRobb"><em class="fa fa-twitter"></em></a>
		    </span>
	    </div>
            </h4>
	    </div>

<hr>
<!----------- Supporters Boxes ---------------->
<div class="row">
   <h2>
      <div data-l10n-id="team3" class="col-md-12">Supporters</div>
   </h2>
</div>
<br />
<div class="row">
   <div class="col-lg-4">
      <div class="about-box">
         <!-- Profile info -->
         <div class="popover bottom roundall">
            <center>
               <img src="/static/buttons/hubraum.jpg" width="184" height="72"/>
            </center>
         </div>
      </div>
   </div>
</div>

</div>         
{% endblock %}
