{% load staticfiles %}
<!-- Custom styles for this template -->

<!-- Bootstrap core CSS -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:600,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">

<!-- Favicon -->
<link rel="shortcut icon" href="{% static "buttons/favicon.ico" %}">

<!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/openwebicons-bootstrap.css" %}">


<div class="container">  
   <div style="margin-top:6em; text-shadow: 5px 5px 5px #dddddd; text-align:center;" class="row">
      <div class="col-sm-12">
         <h1 style="border: 1px solid #b74f41; font-size:5em;" id="main_icons"><i style="color:#b74f41; text-shadow: none;" class="fa fa-exclamation-triangle"></i></h1>
         <h1 >Social Network Login Failure<span style="color:#b74f41;" class="dot">.</span></h1>
         <h3>An error occurred while attempting to login!</h3>
      </div>
   </div>
</div>
