{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans " " %}{% endblock %}
{% block content %}

<div align="center"style="margin:0 auto; max-width:57em; " class="row">
<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
    <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
  {% endif %}
    <h2 class="choose"> Leaving already?</h2>
    <h2 class="choose"><button class="btn btn-default" type="submit"><b>{% trans 'Yes' %}</b></button> &nbsp; <button id="nobutton" style="font-weight:bold; type="button" id="signin" class="btn btn-default" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"> No </button></h2>
</form>
</div>
{% endblock %}
