# Basics
*.py[cod]
*.pyc
__pycache__

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo
*.pot

# Pycharm
.idea

# Vim

*~
*.swp
*.swo

# Emacs
.#*
.dir-locals.el

# Egg
*.egg-info/

# Django
*.db
