{% load favit_tags %} 
<div class="col-md-8">
   <div class="listbox">
      <br>
      
      <!-- Favorite -->
      {% with list|get_favorite_for:user as FavoritedLists %}   
	{% if FavoritedLists %}
	  <form action="{% url 'sopler:favit' list.slug %}" method="post" >
	    {% csrf_token %}
	    <input type="hidden" name="slug" value="{{ list.slug }}" />
	    <span class="btn btn-default favbutton" style="" >
	      <button type="submit" style="opacity:0.6; color:red; margin: -7px -0.595em; text-shadow: none;" class= "close fa fa-heart" ></i>
	      </button>
	    </span>
	  </form>
	{% else %}
	  <form action="{% url 'sopler:favit' list.slug %}" method="post" >
	    {% csrf_token %}
	    <input type="hidden" name="slug" value="{{ list.slug }}" />
	    <span class="btn btn-default favbutton" style="" >
	      <button type="submit"   style="opacity:0.6; margin: -7px -0.595em; text-shadow: none;" class= "close fa fa-heart" ></i>
	      </button>
	    </span>
	  </form>
	{% endif %}
	
      <!--  Progress Bar -->
      <div class="progress" style="margin-right: 50px;">
	<div class="progress-bar progress-bar-success"  id="progressbar" >
	</div>
	<div class="progress-bar progress-bar-info"  id="progressbar2" >
	</div>
      </div>
	
      {% endwith %}
      <div id="refresh">
         <ul id="comments">
            {% regroup list.item_set.all by ItemOwnerState as ItemOwnerState %}
	      {% if not ItemOwnerState %}
		<div data-l10n-id="empty-list" class="empty_list">
		<div><i class="fa fa-info-circle"></i></div>
		Your list is empty. <br><span data-l10n-id="dont-waste-time">Don't waste any more time, add an item!</span><br>
		</div>
	      {% endif %}
	      {% for i in ItemOwnerState %} 
		{% regroup i.list by ItemOwner as ItemOwner %}
		  {% for j in ItemOwner %}
		    <li class="cmmnt">
		    {% for item in j.list|slice:":1" %}
			  <div class="avatar">
			      <!-- Item Owner Avatar -->
			      {% if item.ItemOwnerAvtr == ""  %}
				<img src="/static/buttons/User-Role-Guest-icon.png" width="48" height="48" style="border: 0px solid black; border-radius: 10px;-moz-border-radius: 10px;-khtml-border-radius: 10px;-webkit-border-radius: 10px;">
			      {% else %}
				<img src={{item.ItemOwnerAvtr}} width="48" height="48" style="border: 0px solid black; border-radius: 10px;-moz-border-radius: 10px;-khtml-border-radius: 10px;-webkit-border-radius: 10px;">
			      {% endif %} 
			      
			      <!-- Item Owner Link -->
			      {% if item.ItemOwnerLink != ""  %}
				<a href={{item.ItemOwnerLink}}><b>&nbsp; {{j.grouper | truncatechars:'40'}}</b></a>
			      {% else %}
				<b>&nbsp; {{j.grouper}}</b></br>
			      {% endif %} 		      
			  </div>
		     {% endfor %}

		{% for item in j.list %}
		  {% if not item.ItemDone %}
		  <div id="ItemNotDone"></div>
		    <div class="clear entry">
			<form  class="Form" action="{% url 'sopler:CheckItem' list.slug %}" method="post" onclick="doAuthSubmit(this)" >
			  {% csrf_token %}
			  <input type="hidden" name="item_pk" value="{{ item.pk }}" />
			  <button type="submit" class="btn-item_undone"><div class="button_limit">{{ item.content | slice:'57' }}</div></button>
			</form>

			<!-- ========================================================================================= -->
			<!-- Item owner / List Owner must have lock/ulock, mark/unmark, delete access on items         -->
			<!-- ========================================================================================= -->

			{% for account in user.socialaccount_set.all %}
			  {% if item.ItemOwnerState == "confirmed" and item.ItemOwner|lower|stringformat:"s" == user.username|lower|stringformat:"s" or  ItemOwner|lower|stringformat:"s" == list.ListOwner|lower|stringformat:"s" or item.ItemOwnerFN|lower|stringformat:"s" == account.uid|lower|stringformat:"s"%}
			    <form class="Form" action="{% url 'sopler:MarkItem' list.slug %}" method="post" onclick="doAuthSubmit(this)" >
			      {% csrf_token %}
			      {% if item.ItemMarked %}
				<input type="hidden" name="item_pk" value="{{ item.pk }}" />
				<button type="submit"  style="margin: -48px 63px; color: #d6a708; opacity:0.6;" class= "close fa fa-star" ></button>
			      {% else %}
				<input type="hidden" name="item_pk" value="{{ item.pk }}" />
				<button type="submit"  style="margin: -48px 63px;" class= "close fa fa-star-o" ></button>
			      {% endif %}
			    </form>

			    <form class="Form" action="{% url 'sopler:LockItem' list.slug %}" method="post" onclick="doAuthSubmit(this)" >
			      {% csrf_token %}
			      {% if item.ItemLocked %}
				<input type="hidden" name="item_pk" value="{{ item.pk }}" />
				<button type="submit" style="margin: -46px 35px; color: red;" class= "close fa fa-lock" ></button>
			      {% else %}
				<input type="hidden" name="item_pk" value="{{ item.pk }}" />
				<button type="submit"  style="margin: -46px 35px;"  class= "close fa fa-unlock-o" ></button>
			      {% endif %}
			    </form>

			    <form class="Form" action="{% url 'sopler:DeleteItem' list.slug %}" method="post" onclick="doAuthSubmit(this)" >
			      {% csrf_token %}
			      <input type="hidden" name="item_pk" value="{{ item.pk }}" />
			      <button type="submit" style="margin: -47px 7px;" class= "close fa fa-trash-o"></button>
			    </form>
			  {% else %}
			    {% if item.ItemMarked %}
			      <button type="submit"  style="margin: -47px 63px; color: #d6a708; opacity:0.6;" class= "close fa fa-star" ></button>
			    {% endif %}
			    {% if item.ItemLocked %}
			      <button type="submit" style="margin: -46px 35px; color: red;" class= "close fa fa-lock" ></button>
			    {% endif %}	
			  {% endif %}
			{% endfor %}

			<!-- ========================================================================================= -->
			<!-- Authenticated user, can (un)lock/(un)mark/delete  Non-Authenticated user's items          -->
			<!-- ========================================================================================= -->

			{% if item.ItemOwnerState == "non-confirmed" %}
			  <form class="Form" action="{% url 'sopler:MarkItem' list.slug %}" method="post" onclick="doAuthSubmit(this)" >
			    {% csrf_token %}
			    {% if item.ItemMarked %}
				<input type="hidden" name="item_pk" value="{{ item.pk }}" />
				<button type="submit"  style="margin: -48px 63px; color: #d6a708; opacity:0.6;" class= "close fa fa-star" ></button>
			      {% else %}
				<input type="hidden" name="item_pk" value="{{ item.pk }}" />
				<button type="submit"  style="margin: -48px 63px;" class= "close fa fa-star-o" ></button>
			    {% endif %}
			  </form>

			  <form class="Form" action="{% url 'sopler:LockItem' list.slug %}" method="post" onclick="doAuthSubmit(this)" >
			    {% csrf_token %}
			    {% if item.ItemLocked %}
			      <input type="hidden" name="item_pk" value="{{ item.pk }}" />
			      <button type="submit" style="margin: -46px 35px; color: red;" class= "close fa fa-lock" ></button>
			    {% else %}
			      <input type="hidden" name="item_pk" value="{{ item.pk }}" />
			      <button type="submit"  style="margin: -46px 35px;"  class= "close fa fa-unlock-o" ></button>
			    {% endif %}
			  </form>

			  <form class="Form" action="{% url 'sopler:DeleteItem' list.slug %}" method="post" onclick="doAuthSubmit(this)" >
			    {% csrf_token %}
			    <input type="hidden" name="item_pk" value="{{ item.pk }}" />
			    <button type="submit" style="margin: -47px 7px;" class= "close fa fa-trash-o"></button>
			  </form>
			{% endif %}
		      {% endif %}	

		      {% if item.ItemDone %}
		       <div id="ItemDone"></div>
			<!-- =============  Details ====================== -->

			<div class="clear entry">
			  <form class="Form" style="text-align: left;" action="{% url 'sopler:UnCheckItem' list.slug %}" method="post" onclick="doAuthSubmit(this)" >
				{% csrf_token %}
				<input type="hidden" name="item_pk" value="{{ item.pk }}" />
				<button type="submit" class="btn-item_done"><div class="button_limit">{{ item.content | slice:'57' }}</div></button>
				<br>
			  </form>

			  <!-- ========================================================================================= -->
			  <!-- Authenticated user, can delete Non-Authenticated user's checked items                     -->
			  <!-- ========================================================================================= -->
			  {% if item.ItemOwnerState == "non-confirmed" %}
			    <form class="Form" style="text-align: left;" action="{% url 'sopler:DeleteItem' list.slug %}" method="post" onclick="doAuthSubmit(this)" >
				{% csrf_token %}
				<input type="hidden" name="item_pk" value="{{ item.pk }}" />
				<button type="submit" style="margin: -47px 7px;" class= "close fa fa-trash-o"></button>
			    </form>
			  {% endif %}

			  <!-- ========================================================================================= -->
			  <!-- Item owner must / List Owner have delete access on checked items                          -->
			  <!-- ========================================================================================= -->
			  {% for account in user.socialaccount_set.all %}
			    {% if item.ItemOwner|lower|stringformat:"s" == user.username|lower|stringformat:"s" or ItemOwner|lower|stringformat:"s" == list.ListOwner|lower|stringformat:"s" or item.ItemOwnerFN|lower|stringformat:"s" == account.uid|lower|stringformat:"s"%}
			      <form class="Form" style="text-align: left;" action="{% url 'sopler:DeleteItem' list.slug %}" method="post" onclick="doAuthSubmit(this)" >
				  {% csrf_token %}
				  <input type="hidden" name="item_pk" value="{{ item.pk }}" />
				  <button type="submit" style="margin: -47px 7px;" class= "close fa fa-trash-o"></button>
			      </form>
			    {% endif %}    
			  {% endfor %}

			  <!-- ========================================================================================= -->
			  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ item.pk }}">
			  <button style="margin: -46px 35px;" class= "close fa fa-info"></button>
			  </a>
			</div>
			<div id="collapse{{ item.pk }}" class="accordion-body collapse out">
			  <div align="justify" style="margin-left:10px;" class="accordion-inner">
			      <small><i class="fa fa-check"></i> Checked by <b>{{ item.WhoDone | truncatechars:'30'}}</b> on {{ item.TimeDone }}</small>
			  </div>
			</div>
			<!-- ============  End of details ====================== -->
			{% endif %}
		    {% endfor %}
		    <br>
	      </li>
	      {% endfor %}
	  {% endfor %}
         </ul>
         </div> <!--end refresh-->
      </div>
   </div>
</div>
<br class="clear" />
<br>

<!-- =============  Comments ====================== -->
<div class="accordion" id="accordion2">
   <div  class="about-box">
      <div id="list_boxes" class="popover bottom roundall">
         <div class="accordion-group">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#comments_collapse">
               <div class="accordion-heading popover-title list_box">
                  <h5 align="left" style="color: #484848; margin-top: 0;font-size:1.3em; text-shadow:none;">
                     <i class="fa fa-comments"></i><span data-l10n-id="comments" style="margin-left:5px;">Comments</span><span id="comments_counter"></span>
                     <button class="btn btn-default box_button" >
                        <i class="fa fa-chevron-down"></i>
                  </h5>
               </div>
            </a>
            <div id="comments_collapse" class="accordion-body collapse">
            <div class="accordion-inner list_box_collapse" >
            <div id="comref">
            {% regroup list.comment_set.all by ComOwner as ComOwner %}
            {% for i in ComOwner %}
	      {% for comment in i.list %}
		<div id="commentcount"><small>[{{comment.ComPubDate}}] </small><a href=></a><b>{{i.grouper | truncatechars:'20'}}</b> : {{comment.ComContent | slice:'100' }}</div>

		<!-- ========================================================================================= -->
		<!-- Authenticated user, can delete all Non-Authenticated comments                             -->
		<!-- ========================================================================================= -->
		{% if comment.ComOwnerState != "confirmed" %}
		  <form class="Form" action="{% url 'sopler:DeleteComment' list.slug %}" method="post" onclick="doComSubmit();">
		    {% csrf_token %}
		    <input type="hidden" name="comment_pk" value="{{ comment.pk }}" />
		    <button type="submit" style="margin-right: 15px; margin-top:-41px;" class= "close fa fa-trash-o"></button>
		  </form>
		{% endif %}

		<!-- ========================================================================================= -->
		<!-- Authenticated user, can delete his own comments only                                          -->
		<!-- ========================================================================================= -->
		{% ifequal i.grouper|lower|stringformat:"s" user.username|lower|stringformat:"s" %}
		  <form class="Form" action="{% url 'sopler:DeleteComment' list.slug %}" method="post" onclick="doComSubmit();">
		    {% csrf_token %}
		    <input type="hidden" name="comment_pk" value="{{ comment.pk }}" />
		    <button type="submit" style="margin-right: 15px; margin-top:-41px;" class= "close fa fa-trash-o"></button>
		  </form>
		{% endifequal %}
		
		{% for account in user.socialaccount_set.all %}
		  {% ifequal comment.ComOwnerFN|lower|stringformat:"s" account.uid|lower|stringformat:"s" %}
		    <form class="Form" action="{% url 'sopler:DeleteComment' list.slug %}" method="post" onclick="doComSubmit();">
		      {% csrf_token %}
		      <input type="hidden" name="comment_pk" value="{{ comment.pk }}" />
		      <button type="submit" style="margin-right: 15px; margin-top:-41px;" class= "close fa fa-trash-o"></button>
		    </form>
		  {% endifequal %}
		{% endfor %}
		
		<!-- ========================================================================================= -->

	      {% endfor %}
            {% endfor %}
            </div>
            <br>
            <form class="Form" action="{% url 'sopler:AddNewComment' list.slug %}" method="post" onclick="doComSubmit();">
	      {% csrf_token %}
	      <input type="hidden" class="input-index" name="ItemOwner"/>	
	      <input type="hidden" name="ItemOwnerLink" value= {{user.socialaccount_set.all.0.extra_data.link}} />
	      <div class="row">
	      <div class="col-md-11">
	      <textarea data-l10n-id="comment" id="textarea" class="form-control" type="text" name="comment" maxlength="99" autofocus="autofocus" required="required" placeholder="Save comment!"></textarea>
	      </div>
	      <div class="col-md-1 ">
	      <button  type="submit" class="btn btn-info pull-right">Save!</button>
	      <div id="textarea_feedback"></div>
	      </div>
	      </div>
            </form>
            </div>
            </a>
            </div>
            </a>
         </div>
      </div>
      </ul>
   </div>
<!-- ============  End of Comments ====================== -->
 </div><!--end of Title box --->
   </section> 
</div>
