{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
{% load staticfiles %}
{% load favit_tags %}
{% load core_tags %} 


<!-- Who Favorite this List -->
<div class="modal fade" id="{{list.slug}}_favModal" tabindex="-1" role="dialog" aria-labelledby="myfavModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="myModalLabel">People who favorited this list</h4>
	  </div>
	  <div class="modal-body">

	  {% favorites list as WhoFav %}
	    {% for WhoFav in WhoFav %}
	      {% for user in users %}
		{% if WhoFav.user|lower|stringformat:"s" == user.username|lower|stringformat:"s" %}
		  {% for account in user.socialaccount_set.all %}
		    {% if account.provider != "persona" %}
		      <!-- Facebook -->
		      {% if account.provider == "facebook" %}
			<dt><img src="https://graph.facebook.com/{{user.username}}/picture" width="46" height="46"/>&nbsp;&nbsp;&nbsp;<a href="{{ account.extra_data.link }}" target="_blank"><b>{{user.get_full_name}} </b></a></dt>
			<p>
			<!-- Twitter -->
			{% elif account.provider == "twitter" %}
			<dt><img src="{{ account.extra_data.profile_image_url_https|replace:'/_normal/' }}" width="46" height="46"/>&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/{{ account.extra_data.screen_name }}" target="_blank"><b>{{user.get_full_name}} </b></a></dt>
			<p>
			<!-- Google -->
			{% elif account.provider == "google" %}
			<dt><img src="{{ account.extra_data.picture}}" width="46" height="46"/>&nbsp;&nbsp;&nbsp;<a href="https://plus.google.com/{{ account.extra_data.id }}" target="_blank"><b>{{user.get_full_name}}</b></a></dt>
			<p>
		      {% else %}
			<p>
			<!-- Mozilla Persona -->
			<dt><img src="/static/buttons/Persona.png" width="46" height="46"/> &nbsp;&nbsp;&nbsp;<a href="mailto:{{ account.extra_data.email }} " target="_blank"><b>{{user.username}} </b></a></dt>
		      {% endif %}
		    {% endif %}
		  {% endfor %}
		{% endif %}
	      {% endfor %}
	    {% endfor %}

	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	  </div>
	</div>
  </div>
</div>
<!------------------------>



<script type="text/javascript" src="{% static "js/qrcode.js" %}"></script>
<div class="row">
      <div class="row">
          <div class="col-md-12 namebox">
              <div class="row">
                  <div class="col-md-5">
                      <span class="logocolor" style="margin-right:3px;">/.</span> {{ list.ListName }}
                  </div>
                  <div class= "col-md-5 col-md-offset-2 visible-md visible-lg">
                      <p style="float:right; margin-top:12px; font-size:15px;">
		      {% if list.ListOwnerPrvdr == "facebook" or list.ListOwnerPrvdr == "twitter" %}
			{% for user in users %}
			  {%if list.ListOwner|lower|stringformat:"s" == user.username|lower|stringformat:"s" %}
			    <i class="fa fa-user"></i> <a href="{{ list.ListOwnerLink }}" target="_blank">{{user.get_full_name | truncatechars:'15'}}</a> &nbsp;&nbsp; 
			  {% endif %}
			{% endfor %}
		      {% else %}
			  <i class="fa fa-user"></i> <a href="{{ list.ListOwnerLink }}" target="_blank">{{ list.ListOwner | truncatechars:'15'}}</a> &nbsp;&nbsp;
		      {% endif %}
		      {% if list|favorites_count >= 1 %}
			 <i data-toggle="modal" data-target="#{{list.slug}}_favModal" class="fa fa-heart favhover"> <b> {{list|favorites_count}}</b></i> &nbsp;&nbsp;
		      {% endif %}
                      <i class="fa fa-clock-o"></i> {{ list.ListPubDate|date:"M. d, Y, H:i" }}
                      </p>
                  </div>
              </div>
          </div>
<!------------------Sidepanel Boxes----------------------->
   <div class="col-md-4 hidden-print">
<!------------------Add Box----------------------->
      <div  class="row">
         <div class="col-md-12">
            <form class="Form" action="{% url 'sopler:AddNewItem' list.slug %}" method="post" onclick="doSubmit(this)">
               {% csrf_token %}
               <br>
               <div  class="about-box">
                  <div id="list_boxes" class="popover bottom roundtop">
                     <div class="popover-title ">
                        <h5 align="left" style="margin: 0 0 0 12px;font-size:1.3em; text-shadow:none;"><i class="fa fa-plus"></i>
			<span data-l10n-id="add-an-item" style="font-size:1.1em;margin-left:5px;">Add an item</span></h5>
                     </div>
                     <div class="popover-content ">
                        <div class="form-group">

                        {% if user.is_authenticated %}
			    {% if list.ListIsPrivate = False %}
				<input type="hidden" name="ItemOwnerLink" value= {{user.socialaccount_set.all.0.extra_data.link}} />
				</div>
				<div  class="input-group">
				<input data-l10n-id="input-item" id="appendedInputButton" type="text" class="form-control" name="content" autofocus="autofocus" required="required" placeholder="Add an item" onfocus="this.select()" onsubmit="this.reset()"/>
				<span class="input-group-btn">
				<button type="submit" class="btn btn-default" ><i class="fa fa-pencil-square-o"></i></button>
				</span>
			    {% else %}
				{% for account in user.socialaccount_set.all %}
				  {% if list.ListOwner|lower|stringformat:"s" != user.username|lower|stringformat:"s" and list.ListOwnerFN|lower|stringformat:"s" != account.extra_data.id|lower|stringformat:"s" %}
				    <div  class="input-group">
				    <input  id="appendedInputButton" type="text" class="form-control" name="content" placeholder="(Disabled)" disabled/>
				    <span class="input-group-btn">
				    <button type="submit" class="btn btn-default" disabled ><i class="fa fa-pencil-square-o"></i></button>
				    </div>
				  {% else %}
				    <input type="hidden" name="ItemOwnerLink" value= {{user.socialaccount_set.all.0.extra_data.link}} />
				    </div>
				    <div  class="input-group">
				    <input data-l10n-id="input-item" id="appendedInputButton" type="text" class="form-control" name="content" autofocus="autofocus" required="required" placeholder="Add an item" onfocus="this.select()" onsubmit="this.reset()"/>
				    <span class="input-group-btn">
				    <button type="submit" class="btn btn-default" ><i class="fa fa-pencil-square-o"></i></button>
				    </span>
				  {% endif %}
				{% endfor %}
			    {% endif %}
			{% else%} 
			    {% if list.ListAuthOnly = False and list.ListIsPrivate = False %}
				<input data-l10n-id="enter-username" id="username" type="text" class="form-control" name="ItemOwner" required="required" placeholder="Enter username"/>
				<input type="hidden" name="ItemOwnerLink" value= {{user.socialaccount_set.all.0.extra_data.link}} />
				</div>
				<div  class="input-group">
				<input data-l10n-id="input-item" id="appendedInputButton" type="text" class="form-control" name="content" autofocus="autofocus" required="required" placeholder="Add an item" onfocus="this.select()" onsubmit="this.reset()"/>
				<span class="input-group-btn">
				<button type="submit" class="btn btn-default" ><i style=" font-size:1.35em;" class="fa fa-pencil-square-o"></i></button>
			    {% else%}
				<input id="username" type="text" class="form-control" name="ItemOwner" placeholder="(Disabled)" disabled/>
				</div>
				<div  class="input-group">
				<input  id="appendedInputButton" type="text" class="form-control" name="content" placeholder="(Disabled)" disabled/>
				<span class="input-group-btn">
				<button type="submit" class="btn btn-default" disabled ><i class="fa fa-pencil-square-o"></i></button>
			    {% endif %}
                        {% endif %}

                        </div>
                     </div>
                  </div>
            </form>
            </div>
         </div>
      </div>
<!------------------Information Box----------------------->
      <div  class="row">
         <div class="col-md-12">
            <div class="accordion" id="accordion2">
               <div class="about-box">
                  <div id="list_boxes" class="popover bottom ">
                     <div class="accordion-group">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#info_collapse">
                           <div class="accordion-heading popover-title list_box">
                              <h5  align="left" style=" color: #484848;margin: 0 0 7px 15px; font-size:1.4em; text-shadow:none;"><i class="fa fa-info"></i>
				<span data-l10n-id="information" style="margin-left:5px;">Information</span>
				<button class="btn btn-default box_button" ><i class="fa fa-chevron-down"></i> </button></h5>
                           </div>
                        </a>
                        <div id="info_collapse" class="accordion-body collapse">
                           <div class="accordion-inner list_box_collapse">
                              <dl class="dl-horizontal"> 
                                 <!-------Visible on mobile only--------->
				 <dt data-l10n-id="owner" class="visible-xs"><i style="margin-right:5px;" class="fa fa-user"></i>Owner:</dt>
				{% if list.ListOwnerPrvdr == "facebook" or list.ListOwnerPrvdr == "twitter" %}
				  {% for user in users %}
				    {% if list.ListOwner|lower|stringformat:"s" == user.username|lower|stringformat:"s" %}
				      <dd class="visible-xs" id="info-dd-mobile"><a href="{{ list.ListOwnerLink }}">{{user.get_full_name | truncatechars:'15'}}</a></dd>
				    {% endif %}
				  {% endfor %}
				{% else %}
				    <dd class="visible-xs" id="info-dd-mobile"><a href="{{ list.ListOwnerLink }}">{{list.ListOwner | truncatechars:'15'}}</a></dd>
				{% endif %}
                                 <dt data-l10n-id="state" class="visible-xs"><i style="margin-right:5px;" class="fa icon-browserid"></i> &nbsp;State:</dt>
                                 <dd class="visible-xs" id="info-dd-mobile">{{ list.ListOwnerState }}</dd>
                                 <dt data-l10n-id="list" class="visible-xs"><i style="margin-right:5px;" class="fa fa-list-ul"></i>List: </dt>
                                 <dd class="visible-xs" id="info-dd-mobile">  {{ list.ListName | truncatechars:'15' }}</dd>
                                 <dt data-l10n-id="created" class="visible-xs"><i style="margin-right:5px;" class="fa fa-clock-o"></i>Created: </dt>
                                 <dd class="visible-xs" id="info-dd-mobile"> {{list.ListPubDate|date:"M. d, Y, H:i"}}</dd>

				 {% if list|favorites_count >= 1 %}
                                 <!-- Show fav count  -->
				    <dt data-l10n-id="favorited" class="visible-xs"><i style="margin-right:5px;" class="fa fa-heart"></i>Favorited: </dt>
				    <dd data-toggle="modal" data-target="#{{list.slug}}_favModal" class="visible-xs" id="info-dd-mobile"><a><b class="favhover">{{list|favorites_count}} {% if list|favorites_count == 1 %} time {%else%} times {% endif %}</a></b></dd>
				 {% endif %}

                                 <!----------not visible on mobile--------->
                                 <dt data-l10n-id="owner" class="hidden-xs"><i style="margin-right:5px;" class="fa fa-user"></i>Owner:</dt>

				  {% if list.ListOwnerPrvdr == "facebook" or list.ListOwnerPrvdr == "twitter" %}
				    {% for user in users %}
				      {%if list.ListOwner|lower|stringformat:"s" == user.username|lower|stringformat:"s" %}
					<dd class="hidden-xs" id="info-dd-nonmobile"><a href="{{ list.ListOwnerLink }}">{{user.get_full_name | truncatechars:'15'}}</a></dd>
				      {% endif %}
				    {% endfor %}
				  {% else %}
				      <dd class="hidden-xs" id="info-dd-nonmobile"><a href="{{ list.ListOwnerLink }}">{{list.ListOwner | truncatechars:'15'}}</a></dd>
				  {% endif %}
                                 <dt data-l10n-id="state" class="hidden-xs"><i style="margin-right:5px;" class="fa icon-browserid"></i>State:</dt>
                                 <dd class="hidden-xs" id="info-dd-nonmobile">{{ list.ListOwnerState }}</dd>
                                 <dt data-l10n-id="list" class="hidden-xs"><i style="margin-right:5px;" class="fa fa-list-ul"></i>List: </dt>
                                 <dd class="hidden-xs" id="info-dd-nonmobile">  {{ list.ListName | truncatechars:'15' }}</dd>
                                 <dt data-l10n-id="created" class="hidden-xs"><i style="margin-right:5px;" class="fa fa-clock-o"></i>Created: </dt>
                                 <dd class="hidden-xs" id="info-dd-nonmobile"> {{list.ListPubDate|date:"M. d, Y, H:i"}}</dd>
				 {% if list|favorites_count >= 1 %}
                                 <!-- Show fav count  -->
				    <dt data-l10n-id="favorited" class="hidden-xs"><i style="margin-right:5px;" class="fa fa-heart"></i>Favorited: </dt>
				    <dd data-toggle="modal" data-target="#{{list.slug}}_favModal" class="hidden-xs" id="info-dd-nonmobile"><a><b class="favhover">{{list|favorites_count}} {% if list|favorites_count == 1 %} time {%else%} times {% endif %}</a></b></dd>
				 {% endif %}

                              </dl>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>


<!------------------Share Box----------------------->
      <div  class="row">
         <div class="col-md-12">
            <div class="accordion" id="accordion2">
               <div  class="about-box">
                  <div id="list_boxes" class="popover bottom">
                     <div class="accordion-group">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#share_collapse">
                           <div class="accordion-heading popover-title list_box">
                              <h5 style="color: #484848; margin: 0 0 7px 8px;font-size:1.4em; text-shadow:none;"><i class="icon-share-simple"><span data-l10n-id="share" style="margin-left:4px;">Share</i>
				
			      <button class="btn btn-default box_button" ><i class="fa fa-chevron-down"></i> </button></h5>
                           </div>
                        </a>
                        <div id="share_collapse" class="accordion-body collapse">
                           <div class="accordion-inner list_box_collapse">
                              <div align="center">
                                 <input class="well well-sm" type="text" onClick="this.select();" value="{{ request.build_absolute_uri }}" style="width:100%;" readonly /> 
                                 <ul id="share_icons" class="list-inline">
                                    <!-- Facebook -->
                                    <li id="facebook_share_icon"><a href="JavaScript:newPopup('http://www.facebook.com/sharer/sharer.php?m2w&s=100&amp;p%5Btitle%5D=Hey, join my list \'{{list.ListName }}\'&amp;p%5Burl%5D={{ request.build_absolute_uri }}&amp;p%5Bimages%5D%5B0%5D=http://sopler.net/static/buttons/logo.png');"></a></li>
                                    <!-- Twitter -->
                                    <li id="twitter_share_icon"><a href="JavaScript:newPopup('http://twitter.com/share?url={{ request.build_absolute_uri }}&text=DM @<TwitterName> Hey, join my list \'{{list.ListName }}\' at:');"></a></li>
                                    <!-- Google+ -->
                                    <li id="google_share_icon"><a href="JavaScript:newPopup('https://plus.google.com/share?url={{ request.build_absolute_uri }}');"></a></li>
                                    <!-- Email -->
                                    <li id="email_share_icon"><a href="mailto:?Subject=New list created!!&Body=Hey, join my list \'{{list.ListName }}\' at: {{ request.build_absolute_uri }};"></a></li>
                                    <!-- Print -->
                                    <li id="print_share_icon"><a href="#"  onclick="window.print();"></a></li>
                                    <!-- QrCode -->
                                    <li id="QR_share_icon"><a data-toggle="modal" href="#QRModal"></a></li>
                                    <!-- Modal -->
                                    <div class="modal fade" id="QRModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                       <div class="modal-dialog">
                                          <div class="modal-content">
                                             <div class="modal-header">
                                                <h4 class="modal-title">QR Code</h4>
                                             </div>
                                             <div class="modal-body">
                                                <input id="text" type="hidden" value="{{ request.build_absolute_uri }}" />
                                                <div id="qrcode">
                                                   <script type="text/javascript" src="/static/js/qrcode2.js" %}"></script>
                                                </div>
                                             </div>
                                             <div class="modal-footer">
                                                <button data-l10n-id="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                             </div>
                                          </div>
                                          <!-- /.modal-content -->
                                       </div>
                                       <!-- /.modal-dialog -->
                                    </div>
                                    <!-- /.modal -->
                              </div>
                              <!--end QRCode-->
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end share box -->

<!------------------Sync Box----------------------->
      <div  class="row">
         <div class="col-md-12">
            <div class="accordion" id="accordion2">
               <div  class="about-box">
                  <!-- <div id="list_boxes" class="popover bottom ">-->
                  <div id="list_boxes" class="popover bottom roundbottom">
                     <div class="accordion-group">
                        <div class="accordion-heading popover-title list_box">
                           <h5  style="color: #484848; margin: 0 0 7px 12px;font-size:1.35em; text-shadow:none;"><i class="fa fa-refresh"></i>
							<span >Sync</span> 
                              <small>
                              <span  data-l10n-id="sync-popover" style="cursor:pointer;" id="besync_popover"  data-content="Work in real-time with your collaborators." data-placement="top" data-toggle="popover" data-container="body" type="button" data-original-title="" title=""> <i class="fa fa-question-circle"></i> </span>
                              </small>
                              <button id="realtime_button" class="btn btn-default box_button" onclick="RT()" ><i class="fa fa-power-off"></i> </button>
                           </h5>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- Popup Window -->
   <script type="text/javascript">
      function newPopup(url) {
      	popupWindow = window.open(
      		url,'popUpWindow','height=700,width=800,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=no,menubar=no,location=no')
      }
   </script>
<!------------------List Box----------------------->

  {% if list.ListIsPrivate = True %}
     {% if user.is_authenticated %}
      {% for account in user.socialaccount_set.all %}
	{% if list.ListOwner|lower|stringformat:"s" == user.username|lower|stringformat:"s" or list.ListOwnerPrvdr == "google" and list.ListOwnerFN|lower|stringformat:"s" == account.extra_data.id|lower|stringformat:"s" %}
	  {% include "pages/auth.html"%}
	{% else %}
	  <div class="col-md-8">
	      <div class="listbox">
		<div style="margin-left:0;" class="empty_list">
		    <br>
		    <div><i class="fa fa-exclamation-triangle"></i></div>
		    <h4 data-l10n-id="authentication-needed" >This list is private.</h4>
		</div>
	      </div>
	  </div>
	  </div>
	</div>
      {% endif %}
    {% endfor %}
  {% else %}
      <div class="col-md-8">
	  <div class="listbox">
	    <div style="margin-left:0;" class="empty_list">
		<br>
		<div><i class="fa fa-exclamation-triangle"></i></div>
		<h4 data-l10n-id="authentication-needed" >This list is private.</h4>
	    </div>
	  </div>
      </div>
      </div>
    </div>
  {% endif %}

  {% elif list.ListAuthOnly = True %}
      {% if user.is_authenticated %}
	{% include "pages/auth.html"%}
      {% else %}
	<div class="col-md-8">
	    <div class="listbox">
	      <div style="margin-left:0;" class="empty_list">
		  <br>
		  <div><i class="fa fa-exclamation-triangle"></i></div>
		  <h4 data-l10n-id="authentication-needed" >Authentication needed</h4>
		  <span data-l10n-id="authentication-needed2">The owner of this list wants you to sign in to see the list!</span>
	      </div>
	    </div>
	</div>
	</div>
      </div>
    {% endif %}
  {% else %}
      {% if user.is_authenticated %}
	{% include "pages/auth.html"%}
      {% else %}
	{% include "pages/nonauth.html"%}
      {% endif %}
  {% endif %}

{% endblock %}
