@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/OpenSans_600.woff) format('woff');
}

@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local('Karla'), local('Karla-Regular'), url(../fonts/Karla.woff) format('woff');
}

/* The html and body elements cannot have any padding or margin. */
html,
body {
	padding:0;
	margin:0;
	height: 100%;
	background: #e3e0ef url('../list_images/bg.png');
	color:#363636;
	/* Fix for a Bootstrap issue. It hides the unnecessary horizontal scroll-bar 
	It doesn't work well with mobile Firefox*/
        /*overflow-x: hidden;*/
}

a:hover { 
	text-decoration: none;
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by its height */
	margin: 0 auto -7em;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
	background-color:rgba(0, 0, 0, 0.06);
	border-top: 1px solid rgba(0, 0, 0, 0.04);
	padding: 2em 0 2em;
	position: relative;
}
#footer .backtotop {
	left: 50%;
	margin-left: -9px;
	    padding: 0 !important;
	    position: absolute;
	    top: -0.6em;
}
#footer p, .footer ul {
	color: #737373;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

#footer ul li {
	margin:0 0 5px 0; vertical-align:top
}

.container .credit {
	margin: 20px 0;
}



/* Main content area */
.jumbotron {
	display:block;
	float:left;
	background-color: transparent;
	width: 100%;
	font-size:15px;
}

.jumbotron p{
font-size: 16px;
}

/**** Input styling*****/

input {
	font-family: inherit;
	color: inherit;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.sign-up-input {
	width: 100%;
	max-width:25em;
	height: 50px;
	margin-bottom: 25px;
	padding: 0 15px 2px;
	font-size: 17px;
	background: white;
	border: 2px solid #d6d6d6;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 -2px #ebebeb;
	box-shadow: inset 0 -2px #ebebeb;
}
.sign-up-input:focus {
	border-color: #62c2e4;
	outline: none;
	-webkit-box-shadow: inset 0 -2px #62c2e4;
	box-shadow: inset 0 -2px #62c2e4;
}

.lt-ie9 .sign-up-input {
	line-height: 48px;
}

/************* Create box (main page)*************/

.comms{
	margin-top:-1.5em;
}

/************** CSS Sprites ********************/

#share_icons li a{
	display:block;
	height:100%;
	padding:0 17px ;
}

#facebook_share_icon{
	width:40px;
	height:40px;
	background: url('../buttons/icons_sprites.png') -90px 120px;
}

#twitter_share_icon{
	width:40px;
	height:40px;
	background: url('../buttons/icons_sprites.png') -50px 120px;
}

#google_share_icon{
	width:40px;
	height:40px;
	background: url('../buttons/icons_sprites.png') -50px 80px;
}

#email_share_icon{
	width:40px;
	height:40px;
	background: url('../buttons/icons_sprites.png') -50px 40px;
}

#print_share_icon{
	width:40px;
	height:40px;
	background: url('../buttons/icons_sprites.png') -90px 40px;
}

#QR_share_icon{
	width:40px;
	height:40px;
	background: url('../buttons/icons_sprites.png') -90px 80px;
}

#facebook_footer_icon{
	width:20px;
	background: url('../buttons/icons_sprites.png') 0 -60px;
}

#twitter_footer_icon{
	margin-top:5px;
	width:20px;
	background: url('../buttons/icons_sprites.png') -20px 40px;
}

#google_footer_icon{
	margin-top:5px;
	width:20px;
	background: url('../buttons/icons_sprites.png') 0 40px;
}

#youtube_footer_icon{
	margin-top:5px;
	width:20px;
	background: url('../buttons/icons_sprites.png') -20px 20px;
}

#github_footer_icon{
	margin-top:5px;
	width:20px;
	background: url('../buttons/icons_sprites.png') 0 20px;
}

/**** footer Social margin ******/
.footer_social{
	margin-left:1.9em;
}

/******* Navbar styling ***********/
.navbar{
	background: url("../list_images/classy_fabric.png") repeat scroll 0 0 #E3E0EF;
}

.nav > li {
display: inline-block;
white-space:nowrap;
float:none;
}

.list-inline>li {
padding-right:0px;
}

.navbar-default .navbar-text{
	    color:#ffffff ;
	    margin-right: 0;
	    margin-top: 20px;
}
.navbar-brand{
	padding: 13px 7px 7px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin: 0 0 7px -15px;
}
/****Footer tweak for mobile*****/
.dl-horizontal dt {
	text-align:left;
	width:auto;
}

/**** Styles inside the information box*****/
#info-dd-mobile {
    margin-left: 22px;
    margin-bottom:8px;
}

#info-dd-nonmobile {
    margin-left: 110px;
}

.hello img{
	margin-top: -38px;
	margin-right:10px;
	 border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.sign-in-button {
	  position: relative;
	  vertical-align: top;
	  width: 100%;
	  height: 54px;
	  padding: 0;
	  font-size: 24px;
	  color: white;
	  text-align: center;
	  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	  background: #428BCA;
	  border: 0;
	  border-bottom: 2px solid #2A76B7;
	  border-radius: 5px;
	  cursor: pointer;
	  -webkit-box-shadow: inset 0 -2px #2A76B7;
	  box-shadow: inset 0 -2px #2A76B7;
}

.sign-up-button {
	  position: relative;
	  vertical-align: top;
	  width: 100%;
	  height: 54px;
	  padding: 0;
	  font-size: 24px;
	  color: white;
	  text-align: center;
	  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	  background: #f0776c;
	  border: 0;
	  border-bottom: 2px solid #d76b60;
	  border-radius: 5px;
	  cursor: pointer;
	  -webkit-box-shadow: inset 0 -2px #d76b60;
	  box-shadow: inset 0 -2px #d76b60;
}
.sign-up-button:active {
	top: 1px;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

:-moz-placeholder {
	color: #c4c4c4;
	font-weight: 300;
}

::-moz-placeholder {
	color: #c4c4c4;
	opacity: 1;
	font-weight: 300;
}

::-webkit-input-placeholder {
	color: #c4c4c4;
	font-weight: 300;
}

:-ms-input-placeholder {
	color: #c4c4c4;
	font-weight: 300;
}

::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/************* List (auth/unauth page)*************/

/*****info when the list is empty****/
.empty_list{
	margin-left: -2.5em;
	text-align:center;
}

.empty_list i{
	font-size:2.5em;
}

/**** list area****/
.listbox {
	min-width:15em;
	display: block; 
	width: 100%; 
	background-color: rgba(0, 0, 0, 0.06);
	margin-top: 2.2em;
	padding: 5px 20px; 
	-moz-border-radius:15px; /* Firefox */
	-webkit-border-radius: 15px; /* Safari, Chrome */
	-khtml-border-radius: 15px; /* KHTML */
	 border-radius: 15px; /* CSS */
}

#avatar_name { 
	font-weight:bold;
	width:100%;
	margin-top:5px;
	margin-left: -4px;
	text-align:center;
}


/******* List items (not comments - tbfixed ) ******/

.list-group-item:first-child {
    border-radius: 8px;
}

.list-group-item{
background: #feffff; /* Old browsers */
background: -moz-linear-gradient(top, #feffff 0%, #f2f2f2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #feffff 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #feffff 0%,#f2f2f2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #feffff 0%,#f2f2f2 100%); /* IE10+ */
background: linear-gradient(to bottom, #feffff 0%,#f2f2f2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.02);
border-radius: 8px;
}

.list-group-item {
    margin-bottom: 4px;
}

#comments { display: block; }
#comments .cmmnt, ul .cmmnt, ul ul .cmmnt { margin-left: -40px; display: block; position: relative; padding-top:5px }
#comments .cmmnt .avatar  {margin-bottom:10px; }
#comments .cmmnt .avatar img { 
  margin-left:3px;
  -webkit-border-radius: 2px; 
  -moz-border-radius: 2px; 
  border-radius: 2px; 
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.34);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.34);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.34);
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}



#comments .cmmnt .avatar a:hover img { opacity: 0.77; }
#comments .cmmnt .cmmnt-content { padding: 0px 3px; padding-bottom: 12px; padding-top: 8px; }
#comments .cmmnt .cmmnt-content header { font-size: 1.3em; display: block; margin-bottom: 8px; }
#comments .cmmnt .cmmnt-content header .pubdate { color: #777; }
#comments .cmmnt .cmmnt-content header .userlink { font-weight: bold; } 
#comments .cmmnt .replies { margin-bottom: 7px; }

/*---------------Progress bar------------------*/

.progress{
	background-color:transparent;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25) inset;

}

.progress-bar-success {
        background-color: #b3d4a2;
	color:#535353 !important;
}

.progress-bar-info{
background-color: #e3eef1;
	 color: #484848 !important; 
}

/*-------------Favorite Button-----------------*/

.favhover{
	font-weight:bold;
	color:#3f85c2;
	cursor: pointer;
}

.favhover:hover{
	color:#2A6496;
	text-decoration:none;
}

.favbutton{
	box-shadow: 1px 1px #ccc;
	float:right; 
	margin:-10px 10px; 
	width:40px; height:40px; 
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #F6F6F6),
		color-stop(1, #DFDFDF)
	);
	background-image: -o-linear-gradient(bottom, #F6F6F6 0%, #DFDFDF 100%);
	background-image: -moz-linear-gradient(bottom, #F6F6F6 0%, #DFDFDF 100%);
	background-image: -webkit-linear-gradient(bottom, #F6F6F6 0%, #DFDFDF 100%);
	background-image: -ms-linear-gradient(bottom, #F6F6F6 0%, #DFDFDF 100%);
	background-image: linear-gradient(to bottom, #F6F6F6 0%, #DFDFDF 100%);
}

.cogbutton{
	box-shadow: 1px 1px #ccc;
	float:right; 
	margin:-10px -5px; 
	width:40px; height:40px; 
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #F6F6F6),
		color-stop(1, #DFDFDF)
	);
	background-image: -o-linear-gradient(bottom, #F6F6F6 0%, #DFDFDF 100%);
	background-image: -moz-linear-gradient(bottom, #F6F6F6 0%, #DFDFDF 100%);
	background-image: -webkit-linear-gradient(bottom, #F6F6F6 0%, #DFDFDF 100%);
	background-image: -ms-linear-gradient(bottom, #F6F6F6 0%, #DFDFDF 100%);
	background-image: linear-gradient(to bottom, #F6F6F6 0%, #DFDFDF 100%);
}

/* Gradient transparent - color - transparent */ 

hr{ 
	height: 1px; 
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0.2), rgba(0,0,0,0.4), rgba(0,0,0,0.2)); 
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

/*
.together_beta{
	opacity:0.9;
	vertical-align:sub;
	height:20px;
	width:15px;
	display:inline-block;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform : rotate(-90deg);
	margin: -10px -3px 0 0;
	font-weight:bold;
	font-size:0.7em;
	color:#e64545;
}
*/

#logo{
	width:100%
}

img.logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top:10px;
	margin-bottom:40px;
}

#name_items{
	font-weight:bold;
        margin-left: -130px;
	margin-bottom: -10px;
}

#name_index{
        width:100%;
	margin-left: -65px;
}

.form-control{
	font-size: 15px;
	color: #444;
	border: 1px solid;
	border-color: #999 #aaa #aaa;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px #f8f8f8;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px #f8f8f8;
}

.btn-primary.signin { 
    border-radius: 7px;
     margin-top: 0px;
}

@media (min-width:768px) {
.btn-primary.signin { 
    border-radius: 7px;
    margin-top: -30px;
	}
}

.btn .btn-success .add_item{
	margin: 0 100px 100px;
}

.socialaccount_provider{
	padding:8px;
}

.main_trash{
	display:block;
	width: 40px;
	height: 40px;
	font-weight: bold;
	cursor: pointer;
	z-index: 1;
}
.modal_icon{
font-size:2.5em;
}

/* List item sign & modal buttons */
.item_signs{
	cursor: default;
	border: 1px solid #dddddd;
	margin-top:-11px;
	color:white;
}

.item_signs.lock_sign{
	font-size:19px;
    padding: 0.57em 0.32em !important;
	border: 1px solid #cfcfcf;
	background-color:#eba400;
}

.item_signs.star_sign{
	font-size: 17px;
	padding: 0.70em 0.25em !important;
	border:1px solid #cfcfcf;
	background-color:#c0392b;
}

.mobile-menu-btns{

	cursor:pointer;
        font-size:13px;
}

.btn-tools{
	cursor:pointer;
	font-size:13px;
	color: #FFFFFF;
	border-radius:15px; 
	margin: 15px;
}
.priority {
    background:none;
    background-color: #c45146;
    color:#FFFFFF;
}

.priority:hover{
	background-color: #b9473d;
}

.lock {
    background:none;
    background-color: #eca400;
    color:#FFFFFF;
}

.lock:hover{
	background-color: #df9b00;
}

.delete {
    background:none;
    background-color: #34495e;
    color:#FFFFFF;
}

.delete:hover{
	background-color: #2d4052;
}

.duedate {
    background:none;
    background-color: #14947c;
    color:#FFFFFF;
}

.duedate:hover{
	background-color: #128671;
}

.edit {
    background:none;
    background-color: #1a94d1;
    color:#FFFFFF;
}

.edit:hover{
	background-color: #188ac4;
}

.infos {
    background:none;
    background-color: #a86d53;
    color:#FFFFFF;
}

.infos:hover{
	background-color: #96614a;
}

.dates{
	margin-left: 0.7em;
}

/*** Change check icon on hover***/

.check-button:hover .fa-circle-o:before{
    content:"\f05d";
}

/**** class close is also used in list icons****/
.close {
	opacity:0.35;
    font-size:1.5em;
    display:block;
    width: 30px;
    height: 40px;
    font-weight: bold;
	cursor: pointer;
    z-index: 1;
}

.closeopacity{
	opacity:0.4;
}

.close:hover {
	color: #000000;
	text-decoration: none;

	cursor: pointer;
}

.clear {
    clear: both;
}

.paper {
    width:70%;
    border-radius:5px 5px;
    border:1px solid #000;
    margin: 30px auto;
    background: #f6f6f6;
    position: relative;
    padding: 10px; 
}

/****** QR code image size ******/

#qrcode img{
	width:100%;
}



/******* Sign in menu *******/
.login-box{
	white-space:nowrap;
	top:0;
	width:100%;
	background:#fff;
	overflow: hidden;
}

.login-box a{
	color:#484848;
	font-weight:bold;
}

.login-box a:hover{
	color:black;
	font-weight:bold;
}

.login-box h2{
	font-size:17px;
	text-transform:uppercase;
}

.login-box i{
	font-size:20px;
	margin-right:2px;
}

.login-box socialaccount_providers{
	padding-right:3em;
}

.login-box .choose{
	margin:22px 0;
}


/* Landscape phones and down */
@media (max-width: 767px) { 

	.login-box h2{
	border-bottom:1px solid #CCCCCC;
	 padding: 5px 0 15px;

	}

	.login-box a{
	color:#484848;
	font-weight:bold;
	border:0 none;
	padding: 10px 20px;
	}

	.login-box a:hover{
	color:black;
	font-weight:bold;
	border:0 none;
	}
 }

/************** Main page icons *************/

#main_icons{
	font-size:3.5em; 
	background:#f9f9f9;
	padding-top:0.7em; 
	margin: auto; 
	height: 2.6em; 
	width:2.6em; border-radius: 50% 50% 50% 50%;
	border: 1px solid #7aa948;
}

/***** the blue dot *******/
.dot{
	color:#5294c9;
	font-size:1.4em;
}

/********* Boxes for main/sidepanel/team **********/
.namebox{
	font-size:22px;
	font-weight:bold;
	margin-left:0.6em;
	margin-right:0.6em;
	background-color: rgba(222, 222, 222, 0.7);
	border: 1px solid rgba(0,0, 0, 0.07);
    	border-radius: 15px;
    	display: block;
    	margin-top: 2.2em;
    	min-width: 10.5em;
    	max-width:48em;
}

.box-titles{

margin-left:10px
}

.box-titles h2{
font-size:20px;

}

.about-box{
/**leave distance between sidepanel boxes    margin-bottom: 7px; **/
	min-width:15em;
}

.popover.roundtop{
	border-radius: 6px 6px 0 0;
}

.popover.roundall{
	border-radius: 6px;
}

.popover.roundbottom{
	border-radius: 0 0 6px 6px;
}

.about-box .about-social {
	  padding: 10px 15px;
}

.about-box .about-social em {
	  font-size: 18px;
}
.about-box .about-pic {
	  margin-top: 16px;
	  margin-left: 10px;
	  float: left;
	  margin-right: 10px;
}

.about-box .about-profile-pic {
	  margin-top:10px;
	  margin-left: 10px;
	  float: left;
	  margin-right: 10px;
}

.profile-counters{
	color:#717171;
	font-size:20px;
	margin-top:20px;
	padding-right:20px;	
}

.cogdropdown{
float:right;
}

.cogdropdown-menu{
margin-top:8px;
left:-13em;
min-width:240px;
}

.cogdropdown-menu-dashboard{
margin-top:-10px;
}

.coglist{
    cursor: pointer;

    text-decoration: none;
}

.coglist a {
    font-size:14px;
    clear:both;
    color: #262626;
    text-decoration: none;
    padding: 3px 13px;
    white-space: nowrap;
}

.dashboard{
 margin-top:10px;
}

.extra-option{
margin-top:6px !important;
}

.btn-danger {
	font-size:13px;
    background-color: #c45146;
    border-color: #D43F3A;
    color: #FFFFFF;
    border-radius:15px; 
}

.btn-danger:hover{
background-color: #b9473d;
}

.badge{
color:#FFF;
background-color:#666;
padding: 3px 6px;
}
.about-box .popover {
	  display: block;
	  position: static;

}

.nobackground{
background-color: #FFFFFF;
border-radius: 0;
}
.about-box .popover .popover-title {
	  font-weight: 600;
	  border: 20 none;
	  padding: 16px 5px 8px;
}

.about-box .popover .popover-title.title-main {
	font-size:1em;
	padding:0 0 5px 0;
}

#boxes {
	max-width:21em;
}

#list_boxes{
	max-width:100%;
	margin-top:0px;
}

.list_box{
	border-bottom:0px;
}

.list_box_collapse{
	border-top: 1px solid #EBEBEB;
	padding: 10px;
}

.popover{
	box-shadow: 0 2px 3px #ccc;
	border-top: 1px solid #ddd;
	border-radius:0px;
}


#boxes .popover-title {
	text-align:center;
	text-shadow: 2px 2px 2px #dddddd;
}

.popover-title h2{
	font-size: 2em;
	margin-top:0px;
}

.popover-title small{
	font-size: 17px;
}

#team{
	text-align:left;
}

.box_button{
	padding: 5px 10px;
	float:right;
	margin-top:-4px;
	margin-right:10px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-khtml-border-radius: 50%;
	border-radius: 50%;
}

.red-heart{
 color:#b71a1a;
}

.green-list{
 color:#2e8736;
}

.blue-friends{
 color:#3879b5;
}

/**** Friend images*****/

.friend_img{
	margin-top:4px;
}
.friend_img:hover{
	cursor:pointer;
}

/****** Index.html ./Sopler *****/
.logocolor{
	color:#499ef7;
}

.logocolor.spaces{
	margin-right:5px;
	letter-spacing:-6px;
}

.changefont{
	font-family: 'Karla';
	font-weight:600;
	letter-spacing:-3px;
	font-size:1.05em;
}

/********** Item buttons (tbfixed) **********/
/*** this one is blue*****/
.btn-item_undone { 
        padding: 5px 0 5px 2%;
        margin-bottom:10px;
        text-align:left; 
	border:2px solid;
	-webkit-border-radius: 7px; 
	-moz-border-radius: 7px; 
	border-radius: 7px; 
	 width: 100%;  
	background-color: hsl(193, 35%, 84%) !important; 
	background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e3eef1", endColorstr="#c7dee4"); 
	background-image: -khtml-gradient(linear, left top, left bottom, from(#e3eef1), to(#c7dee4)); 
	background-image: -moz-linear-gradient(top, #e3eef1, #c7dee4); 
	background-image: -ms-linear-gradient(top, #e3eef1, #c7dee4); 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e3eef1), color-stop(100%, #c7dee4)); 
	background-image: -webkit-linear-gradient(top, #e3eef1, #c7dee4); 
	background-image: -o-linear-gradient(top, #e3eef1, #c7dee4); 
	background-image: linear-gradient(#e3eef1, #c7dee4); 
	border-color: #CFCFCF #CFCFCF #BBBBBB; color: #333 !important; 
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.13); 
	-webkit-font-smoothing: antialiased; 
	overflow:hidden;
}

.btn-item_undone:hover { 
	background-color: hsl(193, 47%, 73%) !important; 
	background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e4f1f5", endColorstr="#bddfe8"); 
	background-image: -khtml-gradient(linear, left top, left bottom, from(#e4f1f5), to(#bddfe8)); 
	background-image: -moz-linear-gradient(top, #e4f1f5, #bddfe8); 
	background-image: -ms-linear-gradient(top, #e4f1f5, #bddfe8); 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4f1f5), color-stop(100%, #bddfe8)); 
	background-image: -webkit-linear-gradient(top, #e4f1f5, #bddfe8); 
	background-image: -o-linear-gradient(top, #e4f1f5, #bddfe8); 
	background-image: linear-gradient(#e4f1f5, #bddfe8); color: #333 !important; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33); 
	-webkit-font-smoothing: antialiased; 
}
/*** this one is green*****/
.btn-item_done { 
        padding: 5px 0 5px 2%;
        margin-bottom:10px; 
        text-align:left; 
	opacity:0.65;
	text-decoration:line-through;
	border:2px solid;
	-webkit-border-radius: 7px; 
	-moz-border-radius: 7px; 
	border-radius: 7px; 
	width: 100%;
	background-color: #d6e6d4;
	border-color: #CFCFCF #CFCFCF #BBBBBB; 
	color: #333 !important;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.42);
	-webkit-font-smoothing: antialiased;
	overflow:hidden; 
}
/****limit the item text off the button tool icons****/
.button_limit{
	overflow:hidden; 
	margin-left:5px;
	margin-right:95px;
}
