{% extends "base.html" %}
{% block title %}{{list.ListName }}{% endblock %}
{% block content %}

<div class="container">
   <div style="margin-top:6em; text-shadow: 5px 5px 5px #dddddd; text-align:center;" class="row">
      <div class="col-sm-12">
         <h1 style="border: 1px solid #b74f41; font-size:5em;" id="main_icons"><i style="color:#b74f41; text-shadow: none;" class="fa fa-cogs"></i></h1>
         <h1 >500<span style="color:#b74f41;"class="dot">.</span></h1>
         <h3>Oops, this is our fault. We are working on it!</h3>
      </div>
   </div>
</div>

{% endblock %}
