{% load url from future %}
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
   <![endif]-->
   <!--[if IE 7]>
   <html class="no-js lt-ie9 lt-ie8">
      <![endif]-->
      <!--[if IE 8]>
      <html class="no-js lt-ie9">
         <![endif]-->
         <!--[if gt IE 8]><!-->
         <html class="no-js">
            <!--<![endif]-->
            <title>{% block head_title %} Sopler - Think. Create. Share. {% endblock %}</title>
            {% block extra_head %}
            {% endblock %}
            {% load staticfiles %}

            <head>
              <meta charset="utf-8">
              <meta name="description" content="A free/open source, social and collaborative web application. It helps you make to-do lists!">
              <meta name="keywords" content="Sopler,lists,collaboration,tasks,to-do,openweb,real-time,privacy,open-source,organize,free">
              <meta name="author" content="Sopler">
              <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
              <meta property="og:image" content="{% static "img/fb_sopler.jpeg" %}"/>
              <meta property="og:title" content="Sopler - Think. Create. Share."/>

              <!-- Bootstrap core CSS -->
              <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">

              <!-- Favicon -->
              <link rel="shortcut icon" href="{% static "buttons/favicon.ico" %}">

              <!-- Custom styles for this template -->
              <link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}">
              <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
              <link rel="stylesheet" type="text/css" href="{% static "css/openwebicons-bootstrap.css" %}">
	      <link rel="stylesheet" type="text/css" href="{% static "css/datepicker.css" %}">
	      <link rel="resource" type="application/l10n" href="{% static "locales/locales.ini" %}">

              <!-- Javascript-->
              <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
              <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
              <script type="text/javascript" src="{% static "js/bootstrap.input-clear.js" %}"></script>
              <script type="text/javascript" src="{% static "js/jquery.form.js" %}"></script>
              <script type="text/javascript" src="{% static "js/jquery-ui.js" %}"></script>
	      <script type="text/javascript" src="{% static "js/bootstrap-datepicker.js" %}"></script>
              <script type="text/javascript" defer src="{% static "js/l10n.js" %}" charset="utf-8"></script>
	      <script type="text/javascript" src="{% static "js/item-menu.js" %}"></script>

	      <script type="text/javascript">
		  $(function () {
		      $("#besync_popover").popover();
		  });
	      </script>

	      <script type="text/javascript">
		  function DatePicker() {
		      $(".input-group.date").datepicker({
			  autoclose: true,
			  todayHighlight: true
		      });
		  }
	      </script>
	      <!----- Hide popovers when clicking outside of them ---->
	      <script type="text/javascript">
		  $(document).ready(function () {
		      $('body').on('click', function (e) {
			  $('[data-toggle="popover"]').each(function () {
			      //the 'is' for buttons that trigger popups
			      //the 'has' for icons within a button that triggers a popup
			      if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
				  $(this).popover('hide');
			      }
			  });
		      });
		  });
	      </script>

	      <!-- Count comments -->
	      <script type="text/javascript">
		  var cmd_count_timeout = 100; // Change this if you want
		  $(window).load(function () {
		      setInterval(function () {
			  var comcount = $('div[id*="commentcount"]').length;
			  if (comcount > 0) {
			      $('#comments_counter').html(" (" + comcount + ")");
			  } else {
			      $('#comments_counter').html(" ");
			  }
		      }, cmd_count_timeout);
		  })
	      </script>

	      <!-- Navigation Bar fix & relative -->
	      <script type="text/javascript">
		  $(document).ready(function () {
		      var isopen = "";
		      $('#signin').click(function () {
			  if (!isopen) {
			      $('.navbar-fixed-top').css('position', 'relative');
			      $('html,body').animate({
				  scrollTop: 0
			      }, 'normal');
			  } else {
			      $('.navbar-fixed-top').css('position', 'fixed');

			  }
			  isopen = !isopen;
		      });
		      $('#nobutton').click(function () {

			  $('.navbar-fixed-top').css('position', 'fixed');
			  isopen = !isopen;

		      });
		  });
	      </script>

	      <!-- Back to TOP -->
	      <script type="text/javascript">
		  $(document).ready(function () {
		      $('#backtotop').on("click", function () {
			  $('html,body').animate({
			      scrollTop: 0
			  }, 'slow');
		      });
		  });
	      </script>

	      <!-- Go Mobile -->
	      <script type="text/javascript">
		  $(document).ready(function () {
		      $('#gomobile').on("click", function () {
			  $('html,body').animate({
			      scrollTop: 1200
			  }, 'slow');
		      });
		  });
	      </script>

	      <!-- Characters counter -->
	      <script type="text/javascript">
		  $(document).ready(function () {
		      var text_max = 99;
		      $('#textarea').keyup(function () {
			  var text_length = $('#textarea').val().length;
			  var text_remaining = text_max - text_length;
			  $('#textarea_feedback').html(text_remaining + '/99');
		      });
		  });
	      </script>

	      <!-- Do submitions without reload refresh page -->
	      <script type="text/javascript">
		  function doSubmit() {
		      $(document).ready(function () {
			  $('form.Form').ajaxForm(function () {
			      $("#refresh").load('{{ request.build_absolute_uri }} #refresh');
			      $("#appendedInputButton").val("");
			  });
		      });
		      var value = document.getElementById('username').value
		      $(".whodone").val(value);
		  }

		  function doAuthSubmit() {
		      $(document).ready(function () {
			  $('form.Form').ajaxForm(function () {
			      $("#refresh").load('{{ request.build_absolute_uri }} #refresh');
			      $("#appendedInputButton").val("");
			  });
		      });
		  }

		  function doComSubmit() {
		      $(document).ready(function () {
			  $('form.Form').ajaxForm(function () {
			      $("#comref").load('{{ request.build_absolute_uri }} #comref');
			      $("#textarea").val("");
			  });
		      });
		  }
	      </script>

	      <!-- Do sync, on every five sec -->
	      <script type="text/javascript">
		  var onoff = false;
		  var sync_timeout = 5000; // Change this if you want
		  var refreshId;
		  var reloads = 0;

		  function RT() {
		      if (!onoff) {
			  $("#realtime_button").css("background-color", "#7AA948");
			  refreshId = setInterval(function () {
			      $("#refresh").load('{{ request.build_absolute_uri }} #refresh');
			      $("#comref").load('{{ request.build_absolute_uri }} #comref');
			  }, sync_timeout);
			  onoff = true;
		      } else {
			  clearInterval(refreshId);
			  $("#realtime_button").css("background-color", "#FFFFFF");
			  onoff = false;
		      }
		  };
	      </script>

	      <!-- Progress Bar -->
	      <script type="text/javascript">
		  var progbar_timeout = 100; // Change this if you want
		  var progressBar;
		  $(window).load(function () {
		      setInterval(function () {
			  var CountItemDone = $('div[id*="ItemDone"]').size();
			  var CountItemNotDone = $('div[id*="ItemNotDone"]').size();
			  var CountItems = CountItemDone + CountItemNotDone
			  var progress = ((CountItemDone * 100) / CountItems)
			  var percentDone = progress.toString() + "%";
			  var percentNotDone = (100 - progress).toString() + "%";
			  $("#progressbar").css("width", percentDone);
			  $("#progressbar2").css("width", percentNotDone);
			  if (CountItems > 0) {
			      $("div.progress-bar.progress-bar-success").show();
			      $("div.progress-bar.progress-bar-success").html(function () {
				  return CountItemDone + "/" + CountItems + " Done";
			      });
			      if (CountItemDone == 0) {
				  $("div.progress-bar.progress-bar-info").show();
				  if (CountItems > 1) {
				      $("div.progress-bar.progress-bar-info").html(function () {
					  return "Total: " + CountItems + " Items";
				      });
				  } else {
				      $("div.progress-bar.progress-bar-info").html(function () {
					  return "Total: " + CountItems + " Item";
				      });
				  }
			      } else {

				  $("div.progress-bar.progress-bar-info").html(function () {
				      return " ";
				  });
			      }
			  } else {
			      $("div.progress-bar.progress-bar-info").hide();
			      $("div.progress-bar.progress-bar-success").hide();
			  }
		      }, progbar_timeout);
		  });
	      </script>


	      {% if user.is_authenticated %}

	      <!---Checkboxes Extra Options ----->
	      <script type="text/javascript">
		  $(window).load(function () {
		      $("input:checkbox").click(function () {
			  if ($(this).is(":checked")) {
			      var group = "input:checkbox[id='" + $(this).attr("id") + "']";
			      $(group).prop("checked", false);
			      $(this).prop("checked", true);
			  } else {
			      $(this).prop("checked", false);
			  }
		      });
		  });
	      </script>

	      <!-- Count previous lists-->
	      <script type="text/javascript">
		  var lst_count_timeout = 100; // Change this if you want
		  $(window).load(function () {
		      setInterval(function () {
			  var yrlstcount = $('div[id*="yrlistcount"]').length;
			  if (yrlstcount > 0) {
			      $('#yourlist_counter').html(yrlstcount);
			      $('#yourlist_counter_responsive').html(yrlstcount);
			  } else {
			      $('#yourlist_counter').html("0");
			      $('#yourlist_counter_responsive').html("0");
			  }
		      }, lst_count_timeout);
		  });
		  $(window).load(function () {
		      setInterval(function () {
			  var fvlstcount = $('div[id*="fvlistcount"]').length;
			  if (fvlstcount > 0) {
			      $('#favlist_counter').html(fvlstcount);
			      $('#favlist_counter_reponsive').html(fvlstcount);
			  } else {
			      $('#favlist_counter').html("0");
			      $('#favlist_counter_reponsive').html("0");
			  }
		      }, lst_count_timeout);
		  });
		  $(window).load(function () {
		      setInterval(function () {
			  var frndcount = $('div[id*="frndcount"]').length;
			  if (frndcount > 0) {
			      $('#friend_counter').html(frndcount);
			      $('#friend_counter_reponsive').html(frndcount);
			  } else {
			      $('#friend_counter').html("0");
			      $('#friend_counter_reponsive').html("0");
			  }
		      }, lst_count_timeout);
		  });
	      </script>
               {% endif %}

            </head>
            <body>
               <div id="wrap">
                  <div id="login_box" class="login-box">
                     <div class="accordion" id="accordion2">
                        <div class="accordion-group">
                           <div id="collapseOne" class="accordion-body collapse">
                              <div class="accordion-inner">
                                 {% if user.is_authenticated %}
				  {% include "socialaccount/signout.html"%}
                                 {% else %}
				  {% include "socialaccount/signin.html"%}
                                 {% endif %}
                                 <br>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

                  <!-- Wrap all page content to push down footer -->
                  <!-- Fixed navbar -->
                  <div id="navb" class="navbar navbar-default navbar-fixed-top" style="background-color:transparent;" >
                     <div class="container">
                        <ul  class="nav navbar-nav list-inline" style="float:right; margin-right: 2em;" >
                           {% if user.is_authenticated %}
			    {% for account in user.socialaccount_set.all %}
			          <!-- Facebook -->
				  {% if account.provider == "facebook" %}
				    <li><p class="navbar-text hello hidden-xs ">Hi, <a href="/home">{{user.first_name | truncatechars:'18' }} {{ user.last_name | slice:'1' }}</a></p></li>
				    <!-------Visible on mobile only--------->
				    <li><p class="navbar-text hello visible-xs ">Hi, <a href="/home"> {{user.first_name | truncatechars:'11' }} {{ user.last_name | slice:'1' }}</a></p></li>
				    <li class="hello" ><img class="hidden-xs " src=https://graph.facebook.com/{{user.socialaccount_set.all.0.uid}}/picture width="30" height="30"></li>
				  <!-- Twitter -->
				  {% elif account.provider == "twitter" %}
				    <li><p class="navbar-text hello hidden-xs ">Hi, <a href="/home">{{ user.username | truncatechars:'20' }}</a></p></li>
				    <!-------Visible on mobile only--------->
				    <li><p class="navbar-text hello visible-xs ">Hi, <a href="/home">{{ user.username | truncatechars:'14' }}</a></p></li>
				    <li class="hello" ><img class="hidden-xs " src={{user.socialaccount_set.all.0.extra_data.profile_image_url_https}} width="30" height="30"></li>
				  <!-- Google -->
				  {% elif account.provider == "google" %}
				    <li><p class="navbar-text hello hidden-xs ">Hi, <a href="/home">{{user.first_name | truncatechars:'18' }} {{ user.last_name | slice:'1' }}</a></p></li>
				    <!-------Visible on mobile only--------->
				    <li><p class="navbar-text hello visible-xs ">Hi, <a href="/dashboard">{{user.first_name | truncatechars:'11' }} {{ user.last_name | slice:'1' }}</a></p></li>
				    <li class="hello" ><img class="hidden-xs " src={{user.socialaccount_set.all.0.get_avatar_url}} width="30" height="30"></li>
				  <!-- Mozilla Persona -->
				  {% else %}
				    <li><p class="navbar-text hello hidden-xs ">Hi, <a href="/home">{{user.username | truncatechars:'20' }}</a></p></li>
				     <!-------Visible on mobile only--------->
				    <li><p class="navbar-text hello visible-xs">Hi, <a href="/home">{{ user.username | truncatechars:'14'  }}</a></p></li>
				    <li class="hello"><img class="hidden-xs " src=/static/buttons/Persona.png width="30" height="30" /></li>
			          {% endif %}
				  <button data-l10n-id="signout" type="button" id="signin" class="btn btn-primary btn-primary navbar-btn signin" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Sign out</button>
			    {% endfor %}
                           {% else %}
			      <!-- Hide top Sign-Up button from the main page-->
			      {% if request.get_full_path != "/home" %}
				  <div class="accordion-heading">
				  </div>
				  <button data-l10n-id="signin" style="margin-right:-1.5em;margin-top: 15px;" type="button" id="signin" class="btn btn-primary btn-primary navbar-btn signin" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Sign in</button>
			      {% endif %}
			   {% endif %}

                           </ul>
                           {% if user.is_authenticated %}
                             <a  class="navbar-brand hidden-xs" href="../../"> <img class="img-responsive" alt="Sopler" src="{% static "img/logo.png" %}""/> </a>
                             <a  class="navbar-brand visible-xs" href="../../"> <img class="img-responsive" alt="Sopler" src="{% static "img/logo_smaller.png" %}""/> </a>
			   {% else %}
                             <a  class="navbar-brand" href="../../"> <img class="img-responsive" alt="Sopler" src="{% static "img/logo.png" %}""/> </a>
                           {% endif %}
                     </div>
                  </div>
                  <div class="container">

                     <!-- Jumbotron -->
                     <div class="jumbotron">
                        {% block content %}
                        {% endblock content%}
                        <br>
                        <br>
                     </div>
                  </div>
                  <br><br>
               </div>
               </div>
               <!-- Footer -->
               <div id="footer">
                  <div class="container hidden-print">
                     <h2>
                        <p class="backtotop"><i id="backtotop" style="cursor:pointer;opacity:0.7;" class="fa fa-arrow-circle-o-up"></i></a></p>
                     </h2>
                     <div class="row hidden-xs">
                        <div class=" col-sm-2 col-sm-offset-1 ">
                           <ul class="list-unstyled">
                              <li>Sopler</li>
                              <li><a data-l10n-id="about" href="../../about/">About</a></li>
                              <li><a data-l10n-id="credits" href="../../team/">Credits</a></li>
                           </ul>
                        </div>
                        <div class="col-sm-2 col-md-2" >
                           <ul class="list-unstyled">
                              <li data-l10n-id="social">Social</li>
                              <a href="https://www.facebook.com/Sopler" target="_blank">
                                 <li id="facebook_footer_icon"> <span class="footer_social">Facebook</span></li>
                              </a>
                              <a href="https://twitter.com/soplerproject" target="_blank">
                                 <li id="twitter_footer_icon"/><span class="footer_social"> Twitter</span>
                              </a>
                              </li>
                              <a href="https://www.youtube.com/user/soplerproject/" target="_blank">
                                 <li id="youtube_footer_icon"><span class="footer_social">Youtube</span></li>
                              </a>
                              <a href="https://github.com/soplerproject" target="_blank">
                                 <li id="github_footer_icon"><span class="footer_social">Github</span></li>
                              </a>
                           </ul>
                        </div>
                        <div class="col-sm-1 col-md-2">
                           <ul class="list-unstyled">
                              <li data-l10n-id="support">Support</li>
                              <li><a data-l10n-id="contact" href="mailto:info@sopler.net">Contact</a></li>
                              <li> <a data-l10n-id="howto" href="../../howto/">How to</a></li>
                              <li> <a data-l10n-id="translate" target="_blank" href="https://www.transifex.com/projects/p/sopler/">Translate</a></li>
                           </ul>
                        </div>
                        <div class="col-sm-2 col-md-2  " >
                           <ul class="list-unstyled">
                              <li>Legal</li>
                              <dd><a href="../../terms/">Terms</a></dd>
                              <dd><a href="../../privacy/">Privacy</a></dd>
                           </ul>
                        </div>
                        <div class="col-sm-3 col-md-2  " >
                           <ul class="list-unstyled">
                              <li style="opacity:0.7;" >
                                 <h3><b><i class="icon-cc"></i>
                                    <i class="icon-cc-nc"></i>
                                    <i class="icon-cc-by" ></i>
                                    <i class="icon-cc-sa"></i></b>
                                 </h3>
                              </li>
                              <li><img style="opacity:0.7;" src="/static/buttons/logo_footer.png" width="100" height="38"/></li>
                              <li><small>Running on <a href="https://okeanos.grnet.gr/" target="_blank">~okeanos</a></small></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="container hidden-print">
	                  <div class="row visible-xs">
	                     <div class=" col-xs-12 ">
	                        <dl class="dl-horizontal">
	                           <dt>Sopler</dt>
	                           <dd> <a data-l10n-id="about" href="../../about/">About</a> | <a data-l10n-id="credits" href="../../team/">Credits</a></dd>
	                        </dl>
	                        <dl class="dl-horizontal">
	                           <dt data-l10n-id="social" >Social</dt>
	                           <dd style="font-size:28px;" >
	                              <a  href="https://www.facebook.com/Sopler" target="_blank">
	                                 <i class="fa fa-facebook"></i>
	                              </a>	&nbsp;
	                           <a  href="https://twitter.com/soplerproject" target="_blank">
	                             <i class="fa fa-twitter"></i>
	                           </a>&nbsp;
	                           <a href="http://www.youtube.com/user/soplerproject/" target="_blank">
	                              <i class="fa fa-youtube"></i>
	                           </a>&nbsp;
	                           <a href="https://github.com/soplerproject" target="_blank">
	                             <i class="fa fa-github-alt"></i>
	                           </a>
	                           </dd>
	                        </dl>
	                        <dl class="dl-horizontal">
	                           <dt data-l10n-id="support">Support</dt>
							   <dd><a data-l10n-id="contact" href="mailto:info@sopler.net">Contact</a> | <a data-l10n-id="howto" href="../../howto/">How to</a>
	                           <a data-l10n-id="translate" target="_blank" href="https://www.transifex.com/projects/p/sopler/">Translate</a></dd></dl>
	                        <dl class="dl-horizontal">
	                           <dt data-l10n-id="legal">Legal</dt>
	                           <dd><a data-l10n-id="terms" href="../../terms/">Terms</a> | <a data-l10n-id="privacy" href="../../privacy/">Privacy</a></dd>
	                        </dl>
	                        <ul class="list-unstyled">
	                           <li style="opacity:0.7;" >
	                              <h3><b><i class="icon-cc"></i>
	                                 <i class="icon-cc-nc"></i>
	                                 <i class="icon-cc-by" ></i>
	                                 <i class="icon-cc-sa"></i></b>
	                              </h3>
	                           </li>
	                           <li><img style="opacity:0.7;" src="/static/buttons/logo_footer.png" width="100" height="38"/></li>
	                           <li><small data-l10n-id="running-on">Running on <a href="https://okeanos.grnet.gr/" target="_blank">~okeanos</a></small></li>
	                        </ul>
	                     </div>
	                  </div>
	                </div>
	               <!-------->
               </div>
               </div> <!-- /container -->
               <!-- Bootstrap core JavaScript
                  ================================================== -->
               <!-- Placed at the end of the document so the pages load faster -->

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-45337510-1', 'sopler.net');
		  ga('send', 'pageview');
		
		</script>

            </body>
         </html>
